[submodule "cts_api"]
	path = cts_api
	url = https://github.com/quanted/cts_api.git
[submodule "cts_calcs"]
	path = cts_calcs
	url = https://github.com/quanted/cts_calcs.git
[submodule "cts_testing"]
	path = cts_testing
	url = https://github.com/quanted/cts_testing.git
[submodule "temp_config"]
	path = temp_config
	url = https://github.com/quanted/temp_config
