<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--start 01uberheader-->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title> CTS: Chemical Transformation Simulator </title>
  <meta http-equiv="X-UA-Compatible" content="IE=8">
<!-- Import Google Analytics -->
  <script src="{% static 'cts_app/js/scripts_googleanal.js' %}" type="text/javascript"></script>
<!-- Import jQuery library -->
  <!-- // <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script> -->
  <script src="https://code.jquery.com/jquery-1.11.0.min.js' %}"></script>
  <!-- Import jQueryUI library -->
  <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js' %}" type="text/javascript"></script>
<!-- import Javascripts -->
  <script src="{% static 'cts_app/js/scriptsNoCookie.js' %}" type="text/javascript"></script>
<!-- import Header Javascripts -->
  <script src="{% static 'cts_app/js/scripts_header_cts.js' %}" type="text/javascript"></script>
<!-- import blockUI -->
  <script type="text/javascript" src="{% static 'cts_app/js/jquery.blockUI.js' %}"></script>

  <!-- jquery UI stuff -->
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
  <!-- // <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->

  <!-- socket.io import -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.6.0/socket.io.min.js" type="text/javascript"></script>


<!-- import jchem script -->
  <script type="text/javascript" src="{% static 'cts_app/js/scripts_jchem.js' %}"></script>

<!-- Browser FAVICON -->
  <!-- <LINK REL="SHORTCUT ICON" HREF="http://www.pram.org/static/images/favicon/pop/favicon.ico" /> -->
  <LINK REL="SHORTCUT ICON" HREF="https://www.epa.gov/sites/all/themes/epa/favicon.ico" />

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="{% static 'cts_app/stylesheets/style_main.css' %}" media="screen" rel="stylesheet" type="text/css" />
  <link href="{% static 'cts_app/stylesheets/style_cts.css' %}" media="screen" rel="stylesheet" type="text/css" />

</head>

<body>

<!-- Main Container Div -->
<div id="container">

<!-- Ubertool banner -->
<div id="banner">
  <a href="/cts" id="banner_l" class="index_link"><b>CTS: Chemical Transformation Simulator (beta)</b></a>
  <div id="banner_r">
    <div id="home">
      <div id="home_text"><a href="/cts/">Home</a></div>
      <a href="/cts/"><img src="{% static 'cts_app/images/home.gif' %}"></a>
    </div>
    <!-- <div id="about">
      <div id="about_text"><a href="about.html">About</a></div>
      <a href="about.html"><img src="{% static 'cts_app/images/about.gif' %}"></a>
    </div> -->
  </div>
</div>

<!-- Header -->
<a class="index_link" href="/cts"><div id="topheader_pic"></div></a>
<div id="topheader_p">
  <!-- <a href="login.html" class="logreg">login</a><a href="register.html" class="logreg">register</a> -->
  <p>Cloud-based chemical fate simulation</p>
</div>
<!--end 01cts_uberheader-->
