<!--start 04uberinput_start-->
<script src="/cts/static/cts_app/js/cts_scripts_input_tabbed.js"></script>
<!-- <script type="text/javascript" src="/static_qed/cts_app/js/jquery.validate.js"></script> -->
<!-- <script src="/static_qed/cts_app/js/efs/marvin4js/js/promise-0.1.1.min.js" type="text/javascript"></script> -->
<!-- <script src="/static_qed/cts_app/js/efs/marvin4js/js/marvinjslauncher.js" type="text/javascript"></script> -->

<!-- Added lib for changing marvin4js path -->
<!-- <script src="/static_qed/cts_app/js/efs/marvin4js/gui/gui.nocache.js" type="text/javascript"></script> -->

<script src="/cts/static/cts_app/js/parsley.js"></script>
<!-- <script src="/static_qed/cts_app/js/marvin_test.js" type="text/javascript"></script> -->
	<div class="articles_input">
		<h2 class="model_header">{{ model_attributes }}</h2>
		<!-- <form method="post" action="/cts/{{model}}/output"> -->
		<!-- added parsley validation info -->
		<!-- <form id="{{model}}-form" method="post" action="/cts/{{model}}/output" data-parsley-validate> -->
		<form id="form" method="post" action="/cts/{{model}}/output/" data-parsley-validate>
		{% csrf_token %}
<!--end 04uberinput_start-->
