<!--start 04uberoutput_end-->

	<div id="export_menu">
	  <ul>

	  	<div class="csv-dropdown">
			<li id="csvExport">
				<a href="#" id="fadeExport_csv" aria-label="download csv"></a>
				<div class="csv-dropdown-content">
					<a href="#" id="gentrans-tree-csv" aria-label="download tree csv">Tree CSV</a>
					<a href="#" id="gentrans-likely-csv" aria-label="download likely csv">Likely CSV</a>
				</div>
				<span></span>
			</li>
		</div>

		<li id="pdfExport"><a href="#" id="fadeExport_pdf" aria-label="download pdf"><span></span></a></li>
		<li id="htmlExport"><a href="#" id="fadeExport_html" aria-label="download html"></a><span></span></li>
	  
	  </ul>
	</div> <!-- End "export_menu" div -->

</div> <!-- End "articles_output" div -->


<!--end 04uberoutput_end-->
