<!-- start 09epa_drupal_pram_css.html -->

    <!-- start splash page -->
    <link href="{% static 'cts_app/stylesheets/styles_splash.css' %}" rel="stylesheet">
    <!-- end splash page -->

    <!-- start pram scripts -->
    <link type="text/css" rel="stylesheet" href="{% static 'cts_app/stylesheets/qed.css' %}" media="all" />
    <link type="text/css" rel="stylesheet" href="{% static 'cts_app/stylesheets/pram.css' %}" media="all" />
    <!-- end pram scripts -->

<!-- end 09epa_drupal_pram_css.html -->