
{{run_data|json_script:"run_data"}}

<script type="text/javascript">

$(document).ready(function () {

	var run_data = JSON.parse(document.getElementById('run_data').textContent);
	var workflow = getWorkflow(); // get current workflow name

	var json_data = {};

	function parseOutputForCSV(csvType=null) {
		// var workflow = getWorkflow(); // get current workflow name

		json_data['workflow'] = workflow;

		try {
			json_data['run_type'] = run_type;
		}
		catch (e) {
			console.log("no run_type variable in this workflow");
		}

		if (workflow == "chemspec") {
			// get batch_data for chemspec batch mode...
			if (window.location.href.indexOf('batch') > -1) {
				json_data['batch_data'] = batch_data;
				json_data['batch_chems'] = batch_chems;
			}
		}

    	else if (workflow == "pchemprop") {
    		// todo: loop props, then calcs so the csv can be ordered by props

    		// todo: use run_type key from response as conditional..
    		if (window.location.href.indexOf('batch') < 0) {
    			// regular single pchem workflow
    			json_data['checkedCalcsAndProps'] = {};
	    		for (var calc in checkedCalcsAndProps) {
	    			if (checkedCalcsAndProps.hasOwnProperty(calc)) {
	    				json_data['checkedCalcsAndProps'][calc] = {};
	    				for (var i = 0; i < checkedCalcsAndProps[calc].length; i++) {
	    					// looping props of calc..
	    					var prop = checkedCalcsAndProps[calc][i];
	    					var data = $('.' + calc + '.' + prop).html();
							if (prop == "ion_con") {
								data = pickOutPka(data);
							}
							if (data != null) {
								json_data['checkedCalcsAndProps'][calc][prop] = data;
							}
	    				}
	    			}
	    		}

	    		json_data['geomeanDict'] = geomeanDict;  // gets global geomean for p-chem properties

    		}
    		else {
    			json_data['batch_data'] = batch_data;
    			json_data['checkedCalcsAndProps'] = checkedCalcsAndProps;
    			json_data['batch_chems'] = batch_chems;
    			json_data['geomeanDict'] = geomeanDict;
    		}

    		
    	}
    	else if (workflow == "gentrans") {
    		if (run_type == 'batch') {
    			if (csvType == 'likely') {
    				// Makes array of products that are likely:
    				var newBatchData = [];
    				for (var chemInd in batch_data) {
    					var likelyProducts = buildMetabolitesArray("likely", "batch", batch_data[chemInd]);
    					newBatchData.push(likelyProducts);
    				}
    				json_data['batch_data'] = newBatchData;
    			}
    			else {
    				json_data['batch_data'] = batch_data;
    			}
    			json_data['checkedCalcsAndProps'] = checkedCalcsAndProps;
    			json_data['batch_chems'] = batch_chems;
    			json_data['geomeanDict'] = geomeanDict;
    		}
    		else {
    			json_data['data'] = buildMetabolitesArray(csvType);
    			json_data['checkedCalcsAndProps'] = checkedCalcsAndProps;
    			json_data['geomeanDict'] = geomeanDict;  // gets global geomean for p-chem properties

    			console.log("QSAR Half-life: ", includeRates)
    			json_data['includeRates'] = includeRates;

    		}

    		// Sends key to backend to make likely CSV:
    		if (csvType == 'likely') {
    			json_data['csv_type'] = csvType;
    		}

    	}

    	json_data['run_data'] = run_data;

    	removeImageData();  // removes 'node_image' and 'popup_image' from batch_chems and batch_data global objects

		var cache = [];
		var json_data_string = JSON.stringify(json_data, function(key, value) {
		    if (typeof value === 'object' && value !== null) {
		        if (cache.indexOf(value) !== -1) {
		            return;  // Circular reference found, discard key
		        }
		        cache.push(value);
		    }
		    return value;
		});
		cache = null;  // Enable garbage collection

		json_data = {};  // clears object after it's used

    	return json_data_string;
	}


	function parseOutput(file_type) {
		
        var elements, jq_html, imgData_json, n_plot;
        var workflow = getWorkflow(); // get current workflow name
        var options = { x_offset : 30, y_offset : 30 }; // jqplotToImage options
        var imgData = []; // jqplot images
        var jsonData = ""; // json data string (originally intended for metabolites)

        elements = collectDOM(workflow); // get relevant dom objects

        $(elements).find('script').remove();  // removes script elements

   		if (workflow == "chemspec") {
            try {
                imgData.push($('#microspecies-distribution').jqplotToImageStr(options));
                imgData.push($('#isoelectric-point').jqplotToImageStr(options));
            }
            catch(e) { console.log(e); }
        }
        else if (workflow == "gentrans") {
            var nodeArray = buildMetabolitesArray(); // (cts_gentrans_tree)

            var data_obj = {'nodes': nodeArray, 'checkedCalcsAndProps': checkedCalcsAndProps};

            var cache = [];
			// jsonData = JSON.stringify(nodeArray, function(key, value) {
			jsonData = JSON.stringify(data_obj, function(key, value) {
			    if (typeof value === 'object' && value !== null) {
			        if (cache.indexOf(value) !== -1) {
			            // Circular reference found, discard key
			            return;
			        }
			        // Store value in our collection
			        cache.push(value);
			    }
			    return value;
			});
			cache = null; // Enable garbage collection

        }

		jq_html = $('<div />').append($(elements).clone()).html();
		var n_plot_1 = $('#microspecies-distribution').length;
		var n_plot_2 = $('#isoelectric-point').length;
		n_plot = n_plot_1 + n_plot_2;
		imgData_json = JSON.stringify(imgData, null, '\t');

        appendToRequestTable(jq_html, n_plot, imgData_json, jsonData); // append elements to request table

        return jq_html;

	}

	$('#pdfExport').click(function () {
		parseOutput('pdf');
		$('form.post_form').attr({'action': '/cts/' + workflow + '/pdf/', 'method': 'POST'}).submit();
	});

	$('#htmlExport').click(function () {
		parseOutput('html');
		$('form.post_form').attr({'action': '/cts/' + workflow + '/html/', 'method': 'POST'}).submit();
	});

	$('#csvExport').click(function (evt) {

		var csvType = evt.target.id;
		var jsonData;

		if (csvType == "gentrans-likely-csv") {
			// Returns global accumulation CSV instead of default tree CSV.
			jsonData = parseOutputForCSV("likely");
		}
		else {
			jsonData = parseOutputForCSV();
		}

		$('table.getpdf').html("");
		$('<tr style="display:none"><td><input type="hidden" name="run_data"></td></tr>')
				.appendTo('.getpdf')
				.find('input')
				.val(jsonData);

		$('form.post_form').attr({'action': '/cts/' + workflow + '/csv/', 'method': 'POST'}).submit();
		// $('form.post_form').submit();

	});

	$('#csv_batch').click(function () {
		$('#csvExport').trigger('click');
	});

	$('#fadeExport_pdf').append('<span class="hover"></span>').each(function () {
		var $span = $('> span.hover', this).css('opacity', 0);
		$(this).hover(function () {
			$span.stop().fadeTo(500, 1);
		}, function () {
			$span.stop().fadeTo(500, 0);
		});
	});
	
	$('#fadeExport_html').append('<span class="hover"></span>').each(function () {
		var $span = $('> span.hover', this).css('opacity', 0);
		$(this).hover(function () {
			$span.stop().fadeTo(500, 1);
		}, function () {
			$span.stop().fadeTo(500, 0);
		});
	});

	$('#fadeExport_csv').append('<span class="hover"></span>').each(function () {
		var $span = $('> span.hover', this).css('opacity', 0);
		$(this).hover(function () {
			$span.stop().fadeTo(500, 1);
		}, function () {
			$span.stop().fadeTo(500, 0);
		});
	});

});


function buildMetabolitesArray(csvType="tree", run_type="single", productNodes=null) {
	// calls cts_gentrans_tree function getSpaceTree()
	var nodeArray = [];
	var smilesArray = [];
	// Gets products from tree if in single mode:
	if (run_type == 'single') {
		productNodes = getSpaceTree().graph.nodes;
	}

    for (var node in productNodes) {
    	if (!productNodes.hasOwnProperty(node)) { continue; }
    	var nodeItem;
    	if (run_type == 'single') {
			nodeItem = productNodes[node]['data'];    		
    	}
    	else if (run_type == 'batch') {
    		nodeItem = productNodes[node];
    	}

    	if (csvType == "likely") {

    		// Builds "likely" csv with nodes with globalAccumulation > 10%
    		var genNum = nodeItem.genKey
    		// Assumes genKeys with integer values are parents (e.g., 1, 2, etc.)
    		if (nodeItem.genKey == "molecule 1") {
    			nodeArray.push(nodeItem);
    		}
    		else {
	    		// Adds products with GA > 0.1% and is unique:
	    		let isLikley = nodeItem.globalAccumulation > 0.001 || nodeItem.globalAccumulation === "N/A";
	    		let isUnique = !smilesArray.includes(nodeItem.smiles);
	    		if (isLikley && isUnique) {
	    			nodeArray.push(nodeItem);
	    			smilesArray.push(nodeItem.smiles);
	    		}
	    	}
    	}
    	else {
    		// Builds full node tree for all other CSV types:
    		nodeArray.push(nodeItem);
    	}
    }
    return nodeArray;
}


function appendToRequestTable(jq_html, n_plot, imgData_json, jsonData) {

	$('table.getpdf').html("");
	
	$('<tr style="display:none"><td><input type="hidden" name="pdf_t"></td></tr>')
		.appendTo('.getpdf')
		.find('input')
		.val(jq_html);

	$('<tr style="display:none"><td><input type="hidden" name="pdf_nop"></td></tr>')
		.appendTo('.getpdf')
		.find('input')
		.val(n_plot);

	$('<tr style="display:none"><td><input type="hidden" name="pdf_p"></td></tr>')
		.appendTo('.getpdf')
		.find('input')
		.val(imgData_json);

    $('<tr style="display:none"><td><input type="hidden" name="pdf_json"></td></tr>')
		.appendTo('.getpdf')
		.find('input')
		.val(jsonData);

}


function collectDOM(workflow) {
	switch(workflow) {
		case "chemspec":
			elements = $("div.articles_output").children('h2[class="model_header"], div#timestamp, h3#userInputs');
	        elements = elements.add('table#inputsTable'); // user inputs
	        elements = elements.add('h4#pka, dl#pkaValues'); // pKa values
	        var parentTitle = $('table#msMain td:first h4');
	        var parentDiv = $('div.tooltiptext > #parent_div')[0]; 
	        var parentImage = $(parentDiv).children('.metabolite_img').children('img.hidden-chem')[0];
	        var parentInfo = $(parentDiv).children('table')[0]; 
	        elements = elements.add(parentTitle).add(parentImage).add(parentInfo);
	        var ms = $('table#msMain td#ms-cell').children('.tooltiptext').children();
	        elements = elements.add($('table#msMain td#ms-cell').children('h4')[0]);
	        $(ms).each(function() {
	        	var msImg = $(this).children('.metabolite_img').children('img.hidden-chem');
	        	var msInfo = $(this).children('table');
	        	elements = elements.add(msImg).add(msInfo);
	        });
	        var majorMS = $('h4#majorMS, #majorMS_div img.hidden-chem, #majorMS_div table');
	        elements = elements.add(majorMS);
	        var taut = $('h4#taut, p.taut-percent, #taut_div img.hidden-chem, #taut_div table');
	        elements = elements.add(taut);
	        var stereo = $('h4#stereo, #stereo_div img.hidden-chem, #stereo_div table');
	        elements = elements.add(stereo);
	        return elements;
	    case "pchemprop":
	    	var pchem_elements = $('div.articles_output').children().not(':hidden, div#export_menu').clone();
	    	var ph = $(pchem_elements).find('#id_kow_ph').val();
	    	$(pchem_elements).find('#id_kow_ph').parent('h3').append(ph);
	    	$(pchem_elements).find('td.colorKey, input, p.gentransError, p.selectNodeForData').remove();
	    	return pchem_elements;
	   	case "gentrans":
	   		elements = $("div.articles_output").children('h2[class="model_header"], div#timestamp, h3#userInputs');
	        elements = elements.add('table#inputsTable'); // user inputs
	        elements = elements.add('h3#reactionPathways');
	        return elements;
	    default:
	    	elements = null;
	    	return elements;
	}
}


function getWorkflow() {
	var path = window.location.href;
	if (path.indexOf("chemspec") > -1) {
		return "chemspec";
	}
	else if (path.indexOf("pchemprop") > -1) {
		return "pchemprop";
	}
	else if (path.indexOf("gentrans") > -1) {
		return "gentrans";		
	}
	else { return null; }
}


function pickOutPka(html_string) {
	var pka_obj = {};
	var pkas = $.parseHTML(html_string);
	var pka_string = "";
	$(pkas).each(function () {
		var key_val_array = $(this).text().split(': '); // "pka0: 1.23"
		pka_obj[key_val_array[0]] = key_val_array[1];
	});
	return pka_obj;
}


function removeImageData() {
	/*
	Removes image data (node_image, popup_image) from
	batch_data and batch_chems objects.
	*/
	try {
		if (!batch_data) { return; }
	}
	catch(error) { return; }
	for (var chemInd in batch_data) {
		var chemObj = batch_data[chemInd];
		var nodeData = batch_data[chemInd]['node'];
		if (!nodeData) { continue; }
		if ('node_image' in chemObj) {
			// remove key:
			delete chemObj['node_image'];
		}
		if ('popup_image' in chemObj) {
			// remove key:
			delete chemObj['popup_image'];
		}
		if ('node_image' in nodeData) {
			// remove key:
			delete nodeData['node_image'];
		}
		if ('popup_image' in nodeData) {
			// remove key:
			delete nodeData['popup_image'];
		}
		if ('structureData' in nodeData) {
			// delete nodeData['structureData'];
			nodeData['structureData'] = {};  // clears structureData object
			chemObj['structureData'] = {};
		}
	}
	for (var chemInd in batch_chems) {
		var chemObj = batch_chems[chemInd];
		if ('node_image' in chemObj) {
			// remove key:
			delete chemObj['node_image'];
		}
		if ('popup_image' in chemObj) {
			// remove key:
			delete chemObj['popup_image'];
		}	
	}
}

</script>