

<table id="pchemprop_table" class="input_table tab tab_ChemCalcs" style="display:none;">
	
	<tr>
		<th class="calc-header">Property</th>
		<th class="calc-header">Source</th>
		<th class="calc-header">Calculated Value</th>
		<th class="calc-header">Geometric Mean</th>
		<th class="calc-header">Measured</th>
	</tr>

	<tr>
		<th class="pchem_label"><br><h3>Neutral Species Properties:</h3></th>
	</tr>

	<tr>
		<th class="chemprop">Melting Point (&degC)</th>
		<td id="id_melting_point" class="melting_point">
			<div id="id_melting_point_EPI" class="ChemCalcs_available epi melting_point"></div>
			<div id="id_melting_point_OPERA" class="ChemCalcs_available opera melting_point"></div>
			<div id="id_melting_point_TEST_HC" class="ChemCalcs_available test hc melting_point"></div>
			<div id="id_melting_point_TEST_GC" class="ChemCalcs_available test gc melting_point"></div>
			<div id="id_melting_point_TEST_NN" class="ChemCalcs_available test nn melting_point"></div>
		</td>
		<td id="id_melting_point_geomean" class="ChemCalcs_available geomean melting_point"></td>
		<td id="id_melting_point_Measured" class="ChemCalcs_available measured melting_point"></td>
	</tr>



	<tr>
		<th class="chemprop">Boiling Point (&degC)</th>
		<td id="id_boiling_point" class="boiling_point">
			<div id="id_boiling_point_EPI" class="ChemCalcs_available epi boiling_point"></div>
			<div id="id_boiling_point_OPERA" class="ChemCalcs_available opera boiling_point"></div>
			<div id="id_boiling_point_TEST_HC" class="ChemCalcs_available test hc boiling_point"></div>
			<div id="id_boiling_point_TEST_GC" class="ChemCalcs_available test gc boiling_point"></div>
			<div id="id_boiling_point_TEST_NN" class="ChemCalcs_available test nn boiling_point"></div>
		</td>
		<td id="id_boiling_point_geomean" class="ChemCalcs_available geomean boiling_point"></td>
		<td id="id_boiling_point_Measured" class="ChemCalcs_available measured boiling_point"></td>
	</tr>



	<tr>
		<th class="chemprop">Water Solubility (mg/L)</th>
				<td id="id_water_sol" class="water_sol">
			<div id="id_water_sol_EPI" class="ChemCalcs_available epi water_sol"></div>
			<div id="id_water_sol_OPERA" class="ChemCalcs_available opera water_sol"></div>
			<div id="id_water_sol_TEST_HC" class="ChemCalcs_available test hc water_sol"></div>
			<div id="id_water_sol_TEST_GC" class="ChemCalcs_available test gc water_sol"></div>
			<div id="id_water_sol_TEST_NN" class="ChemCalcs_available test nn water_sol"></div>
			<div id="id_water_sol_ChemAxon" class="ChemCalcs_available chemaxon water_sol"></div>
		</td>
		<td id="id_water_sol_geomean" class="ChemCalcs_available geomean water_sol"></td>
		<td id="id_water_sol_Measured" class="ChemCalcs_available measured water_sol"></td>
	</tr>



	<tr>
		<th class="chemprop">Vapor Pressure (mmHg)</th>
		<td id="id_vapor_press" class="vapor_press">
			<div id="id_vapor_press_EPI" class="ChemCalcs_available epi vapor_press"></div>
			<div id="id_vapor_press_OPERA" class="ChemCalcs_available opera vapor_press"></div>
			<div id="id_vapor_press_TEST_HC" class="ChemCalcs_available test hc vapor_press"></div>
			<div id="id_vapor_press_TEST_GC" class="ChemCalcs_available test gc vapor_press"></div>
			<div id="id_vapor_press_TEST_NN" class="ChemCalcs_available test nn vapor_press"></div>
		</td>
		<td id="id_vapor_press_geomean" class="ChemCalcs_available geomean vapor_press"></td>
		<td id="id_vapor_press_Measured" class="ChemCalcs_available measured vapor_press"></td>
	</tr>


	<tr>
		<th class="chemprop">Henry's Law Constant (atm-m<sup>3</sup>/mol)</th>
		<td id="id_henrys_law_con_EPI" class="ChemCalcs_available epi henrys_law_con"></td>
		<td id="id_henrys_law_con" class="henrys_law_con">
			<div id="id_henrys_law_con_EPI" class="ChemCalcs_available epi henrys_law_con"></div>
			<div id="id_henrys_law_con_OPERA" class="ChemCalcs_available opera henrys_law_con"></div>
		</td>
		<td id="id_henrys_law_con_geomean" class="ChemCalcs_available geomean henrys_law_con"></td>
		<td id="id_henrys_law_con_Measured" class="ChemCalcs_available measured henrys_law_con"></td>
	</tr>


	<tr>
		<th class="chemprop">Octanol/Water Partition Coefficient (log)</th>
		<td id="id_kow_no_ph_EPI" class="ChemCalcs_available epi kow_no_ph"></td>
		<td id="id_kow_no_ph" class="kow_no_ph">
			<div id="id_kow_no_ph_EPI" class="ChemCalcs_available epi kow_no_ph"></div>
			<div id="id_kow_no_ph_OPERA" class="ChemCalcs_available opera kow_no_ph"></div>
		</td>
		<td id="id_kow_no_ph_geomean" class="ChemCalcs_available geomean kow_no_ph"></td>
		<td id="id_kow_no_ph_Measured" class="ChemCalcs_available measured kow_no_ph"></td>
	</tr>


	<tr>
		<th class="chemprop">Organic Carbon Partition Coefficient (log(L/kg))</th>
		<td id="id_koc_EPI" class="ChemCalcs_available epi koc"></td>
		<td id="id_koc" class="koc">
			<div id="id_koc_EPI" class="ChemCalcs_available epi koc"></div>
			<div id="id_koc_OPERA" class="ChemCalcs_available opera koc"></div>
		</td>
		<td id="id_koc_geomean" class="ChemCalcs_available geomean koc"></td>
		<td id="id_koc_Measured" class="ChemCalcs_available measured koc"></td>
	</tr>

	<tr>
		<th class="chemprop">Bioconcentration Factor (log(L/kg))</th>
		<td id="id_log_bcf" class="log_bcf">
			<div id="id_log_bcf_EPI" class="ChemCalcs_available epi log_bcf"></div>
			<div id="id_log_bcf_OPERA" class="ChemCalcs_available opera log_bcf"></div>
			<div id="id_log_bcf_TEST_HC" class="ChemCalcs_available test hc log_bcf"></div>
			<div id="id_log_bcf_TEST_GC" class="ChemCalcs_available test gc log_bcf"></div>
			<div id="id_log_bcf_TEST_NN" class="ChemCalcs_available test nn log_bcf"></div>
		</td>
		<td id="id_log_bcf_geomean" class="ChemCalcs_available geomean log_bcf"></td>
		<td id="id_log_bcf_Measured" class="ChemCalcs_available measured log_bcf"></td>
	</tr>

	<tr>
		<th class="chemprop">Bioaccumulation Factor (log(L/kg))</th>
		<td id="id_log_baf" class="log_baf">
			<div id="id_log_baf_EPI" class="ChemCalcs_available epi log_baf"></div>
		</td>
		<td id="id_log_baf_geomean" class="ChemCalcs_available geomean log_baf"></td>
		<td id="id_log_baf_Measured" class="ChemCalcs_available measured log_baf"></td>
	</tr>



	<tr>
		<th class="chemprop">Molecular Diffusivity in Water (cm<sup>2</sup>/s)</th>
		<td id="id_mol_diss" class="mol_diss">
			<div id="id_mol_diss_equation_wc" class="ChemCalcs_available equation wc mol_diss"></div>
			<div id="id_mol_diss_equation_hl" class="ChemCalcs_available equation hl mol_diss"></div>
		</td>
		<td id="id_mol_diss_geomean" class="ChemCalcs_available geomean mol_diss"></td>
		<td id="id_mol_diss_Measured" class="ChemCalcs_available measured mol_diss"></td>
	</tr>



	<tr>	
		<th class="chemprop">Molecular Diffusivity in Air (cm<sup>2</sup>/s)</th>
		<td id="id_mol_diss_air" class="mol_diss_air">
			<div id="id_mol_diss_air_equation_fsg" class="ChemCalcs_available equation fsg mol_diss_air"></div>
		</td>
		<td id="id_mol_diss_air_geomean" class="ChemCalcs_available geomean mol_diss_air"></td>
		<td id="id_mol_diss_air_Measured" class="ChemCalcs_available measured mol_diss_air"></td>
	</tr>

	<tr>
		<th class="pchem_label"><br><h3><span>pH-Dependent Properties</span> <span>at pH:</span> <input aria-label="ph value for ph-dependent inputs" class="numberInput" data-parsley-max="14" data-parsley-required="true" data-parsley-required-message="This field is required." data-parsley-type="number" data-parsley-type-digits-message="Enter a number." data-parsley-type-number-message="Enter a number." id="id_kow_ph" max="14" min="0" name="kow_ph" step="0.1" type="number" value="7.4" /><br><div style="float:right;"></div></th>
	</tr>


	<tr>
		<th class="chemprop">Octanol/Water Distribution Coefficient (log)</th>
		<td id="id_kow_wph_OPERA" class="ChemCalcs_available opera kow_wph"></td>
		<td id="id_kow_wph_ChemAxon" class="ChemCalcs_available chemaxon kow_wph"></td>
		<td id="id_kow_wph_geomean" class="ChemCalcs_available geomean kow_wph"></td>
	</tr>


	<tr>
		<th class="chemprop">Water Solubility (mg/L)</th>
		<td id="id_water_sol_ph_ChemAxon" class="ChemCalcs_available chemaxon water_sol_ph"></td>
		<td id="id_water_sol_ph_geomean" class="ChemCalcs_available geomean water_sol_ph"></td>
	</tr>

</table>