

<table id="pchemprop_table" class="input_table tab tab_ChemCalcs" style="display:none;">
	<tr>
		<th></th>
		<th class="calc-header"><input aria-label="select epi" class="calc_checkbox" id="id_epi_select" name="epi" type="checkbox"><br><label for="id_epi_select">EPI Suite</th>
		<th class="calc-header"><input aria-label="select opera" class="calc_checkbox" id="id_opera_select" name="opera" type="checkbox"><br><label for="id_opera_select">OPERA</th>
		<th class="calc-header"><input aria-label="select test" class="calc_checkbox" id="id_test_select" name="test" type="checkbox"><br><label for="id_test_select">TEST</th>
		<th class="calc-header"><input aria-label="select chemaxon" class="calc_checkbox" id="id_chemaxon_select" name="chemaxon" type="checkbox" readonly><br><label for="id_chemaxon_select">ChemAxon</label></th>
		<th class="calc-header"><input aria-label="select equation" class="calc_checkbox" id="id_equation_select" name="equation" type="checkbox"><br><label for="id_equation_select">Equation</th>
		<th>Geometric Mean</th>
		<th class="calc-header"><input aria-label="select measured" class="calc_checkbox" id="id_measured_select" name="measured" type="checkbox"><br><label for="id_measured_select">Measured</th>
        <!-- <th>Average</th> -->
	</tr>
	<tr>
		<th id="pchem-select-all"><input aria-label="select all p-chem properties" id="id_all" type="checkbox"><span><label for="id_all">All</label></span></th>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr>
		<th class="pchem_label"><br><h3>Neutral Species Properties:</h3></th>
	</tr>

	<tr>
		<th class="chemprop"><input aria-label="select melting point" id="id_melting_point" name="melting_point" type="checkbox" /><span><label for="id_melting_point">Melting Point (&degC)</label></span></th>
		<td id="id_melting_point_EPI" class="ChemCalcs_available epi melting_point"></td>
		<td id="id_melting_point_OPERA" class="ChemCalcs_available opera melting_point"></td>
		<td id="id_melting_point_TEST" class="ChemCalcs_available test melting_point"></td>
		<td id="id_melting_point_ChemAxon" class="ChemCalcs_unavailable chemaxon melting_point"></td>
		<td id="id_melting_point_equation" class="ChemCalcs_unavailable equation melting_point"></td>
		<td id="id_melting_point_geomean" class="ChemCalcs_available geomean melting_point"></td>
		<td id="id_melting_point_Measured" class="ChemCalcs_available measured melting_point"></td>
		</tr>
	

	
		<tr>
		<th class="chemprop"><input aria-label="select boiling point" id="id_boiling_point" name="boiling_point" type="checkbox" /><span><label for="id_boiling_point">Boiling Point (&degC)</label></span></th>
		<td id="id_boiling_point_EPI" class="ChemCalcs_available epi boiling_point"></td>
		<td id="id_boiling_point_OPERA" class="ChemCalcs_available opera boiling_point"></td>
		<td id="id_boiling_point_TEST" class="ChemCalcs_available test boiling_point"></td>
		<td id="id_boiling_point_ChemAxon" class="ChemCalcs_unavailable chemaxon boiling_point"></td>
		<td id="id_boiling_point_equation" class="ChemCalcs_unavailable equation boiling_point"></td>
		<td id="id_boiling_point_geomean" class="ChemCalcs_available geomean boiling_point"></td>
		<td id="id_boiling_point_Measured" class="ChemCalcs_available measured boiling_point"></td>
		</tr>
	

	
		<tr>
		<th class="chemprop"><input aria-label="select water solubility" id="id_water_sol" name="water_sol" type="checkbox" /><span><label for="id_water_sol">Water Solubility (mg/L)</label></span></th>
		<td id="id_water_sol_EPI" class="ChemCalcs_available epi water_sol"></td>
		<td id="id_water_sol_OPERA" class="ChemCalcs_available opera water_sol"></td>
		<td id="id_water_sol_TEST" class="ChemCalcs_available test water_sol"></td>
		<td id="id_water_sol_ChemAxon" class="ChemCalcs_available chemaxon water_sol"></td>
		<td id="id_water_sol_equation" class="ChemCalcs_unavailable equation water_sol"></td>
		<td id="id_water_sol_geomean" class="ChemCalcs_available geomean water_sol"></td>
		<td id="id_water_sol_Measured" class="ChemCalcs_available measured water_sol"></td>
		</tr>
	

	
		<tr>
		<th class="chemprop"><input aria-label="select vapor pressure" id="id_vapor_press" name="vapor_press" type="checkbox" /><span><label for="id_vapor_press">Vapor Pressure (mmHg)</label></span></th>
		<td id="id_vapor_press_EPI" class="ChemCalcs_available epi vapor_press"></td>
		<td id="id_vapor_press_OPERA" class="ChemCalcs_available opera vapor_press"></td>
		<td id="id_vapor_press_TEST" class="ChemCalcs_available test vapor_press"></td>
		<td id="id_vapor_press_ChemAxon" class="ChemCalcs_unavailable chemaxon vapor_press"></td>		
		<td id="id_vapor_press_equation" class="ChemCalcs_unavailable equation vapor_press"></td>
		<td id="id_vapor_press_geomean" class="ChemCalcs_available geomean vapor_press"></td>
		<td id="id_vapor_press_Measured" class="ChemCalcs_available measured vapor_press"></td>
		</tr>

	
		<tr>
		<th class="chemprop"><input aria-label="select henrys law constant" id="id_henrys_law_con" name="henrys_law_con" type="checkbox" /><span><label for="id_henrys_law_con">Henry's Law Constant (atm-m<sup>3</sup>/mol)</label></span></th>
		<td id="id_henrys_law_con_EPI" class="ChemCalcs_available epi henrys_law_con"></td>
		<td id="id_henrys_law_con_OPERA" class="ChemCalcs_available opera henrys_law_con"></td>
		<td id="id_henrys_law_con_TEST" class="ChemCalcs_unavailable test henrys_law_con"></td>
		<td id="id_henrys_law_con_ChemAxon" class="ChemCalcs_unavailable chemaxon henrys_law_con"></td>
		<td id="id_henrys_law_con_equation" class="ChemCalcs_unavailable equation henrys_law_con"></td>
		<td id="id_henrys_law_con_geomean" class="ChemCalcs_available geomean henrys_law_con"></td>
		<td id="id_henrys_law_con_Measured" class="ChemCalcs_available measured henrys_law_con"></td>
		</tr>
	
	
		<tr>
		<th class="chemprop"><input aria-label="select kow no ph" id="id_kow_no_ph" name="kow_no_ph" type="checkbox" /><span><label for="id_kow_no_ph">Octanol/Water Partition Coefficient (log)</label></span></th>
		<td id="id_kow_no_ph_EPI" class="ChemCalcs_available epi kow_no_ph"></td>
		<td id="id_kow_no_ph_OPERA" class="ChemCalcs_available opera kow_no_ph"></td>
		<td id="id_kow_no_ph_TEST" class="ChemCalcs_unavailable test kow_no_ph"></td>
		<td id="id_kow_no_ph_ChemAxon" class="ChemCalcs_available chemaxon kow_no_ph"></td>
		<td id="id_kow_no_ph_equation" class="ChemCalcs_unavailable equation kow_no_ph"></td>
		<td id="id_kow_no_ph_geomean" class="ChemCalcs_available geomean kow_no_ph"></td>
		<td id="id_kow_no_ph_Measured" class="ChemCalcs_available measured kow_no_ph"></td>
		</tr>


		<tr>
		<th class="chemprop"><input aria-label="select koc" id="id_koc" name="koc" type="checkbox" /><span><label for="id_koc">Organic Carbon Partition Coefficient (log(L/kg))</label></span></th>
		<td id="id_koc_EPI" class="ChemCalcs_available epi koc"></td>
		<td id="id_koc_OPERA" class="ChemCalcs_available opera koc"></td>
		<td id="id_koc_TEST" class="ChemCalcs_unavailable test koc"></td>
		<td id="id_koc_ChemAxon" class="ChemCalcs_unavailable chemaxon koc"></td>
		<td id="id_koc_equation" class="ChemCalcs_unavailable equation koc"></td>
		<td id="id_koc_geomean" class="ChemCalcs_available geomean koc"></td>
		<td id="id_koc_Measured" class="ChemCalcs_unavailable measured koc"></td>
		</tr>

		<tr>
		<th class="chemprop"><input aria-label="select bioconcentration factor" id="id_log_bcf" name="log_bcf" type="checkbox" /><span><label for="id_log_bcf">Bioconcentration Factor (log(L/kg))</label></span></th>
		<td id="id_log_bcf_EPI" class="ChemCalcs_available epi log_bcf"></td>
		<td id="id_log_bcf_OPERA" class="ChemCalcs_available opera log_bcf"></td>
		<td id="id_log_bcf_TEST" class="ChemCalcs_available test log_bcf"></td>
		<td id="id_koc_ChemAxon" class="ChemCalcs_unavailable chemaxon log_bcf"></td>
		<td id="id_log_bcf_equation" class="ChemCalcs_unavailable equation log_bcf"></td>
		<td id="id_log_bcf_geomean" class="ChemCalcs_available geomean log_bcf"></td>
		<td id="id_log_bcf_Measured" class="ChemCalcs_unavailable measured log_bcf"></td>
		</tr>

		<tr>
		<th class="chemprop"><input aria-label="select bioaccumulation factor" id="id_log_baf" name="log_baf" type="checkbox" /><span><label for="id_log_baf">Bioaccumulation Factor (log(L/kg))</label></span></th>
		<td id="id_log_baf_EPI" class="ChemCalcs_available epi log_baf"></td>
		<td id="id_log_baf_OPERA" class="ChemCalcs_unavailable opera log_baf"></td>
		<td id="id_log_baf_TEST" class="ChemCalcs_unavailable test log_baf"></td>
		<td id="id_koc_ChemAxon" class="ChemCalcs_unavailable chemaxon log_baf"></td>
		<td id="id_log_baf_equation" class="ChemCalcs_unavailable equation log_baf"></td>
		<td id="id_log_baf_geomean" class="ChemCalcs_available geomean log_baf"></td>
		<td id="id_log_baf_Measured" class="ChemCalcs_unavailable measured log_baf"></td>
		</tr>



		<tr>
		<th class="chemprop"><input aria-label="select molecular dissusivity in water" id="id_mol_diss" name="mol_diss" type="checkbox" /><span><label for="id_mol_diss">Molecular Diffusivity in Water (cm<sup>2</sup>/s)</label></span></th>
		<td id="id_mol_diss_EPI" class="ChemCalcs_unavailable epi mol_diss"></td>
		<td id="id_mol_diss_OPERA" class="ChemCalcs_unavailable opera mol_diss"></td>
		<td id="id_mol_diss_TEST" class="ChemCalcs_unavailable test mol_diss"></td>
		<td id="id_mol_diss_ChemAxon" class="ChemCalcs_unavailable chemaxon mol_diss"></td>
		<td id="id_mol_diss_equation" class="ChemCalcs_available equation mol_diss"></td>
		<td id="id_mol_diss_geomean" class="ChemCalcs_available geomean mol_diss"></td>
		<td id="id_mol_diss_Measured" class="ChemCalcs_unavailable measured mol_diss"></td>
		</tr>



		<tr>	
		<th class="chemprop"><input aria-label="select molecular diffusivity in air" id="id_mol_diss_air" name="mol_diss_air" type="checkbox" /><span><label for="id_mol_diss_air">Molecular Diffusivity in Air (cm<sup>2</sup>/s)</label></span></th>
		<td id="id_mol_diss_air_EPI" class="ChemCalcs_unavailable epi mol_diss_air"></td>
		<td id="id_mol_diss_air_OPERA" class="ChemCalcs_unavailable opera mol_diss_air"></td>
		<td id="id_mol_diss_air_TEST" class="ChemCalcs_unavailable test mol_diss_air"></td>
		<td id="id_mol_diss_air_ChemAxon" class="ChemCalcs_unavailable chemaxon mol_diss_air"></td>
		<td id="id_mol_diss_air_equation" class="ChemCalcs_available equation mol_diss_air"></td>
		<td id="id_mol_diss_air_geomean" class="ChemCalcs_available geomean mol_diss_air"></td>
		<td id="id_mol_diss_air_Measured" class="ChemCalcs_unavailable measured mol_diss_air"></td>
		</tr>
	



		<tr>
			<th class="pchem_label"><br><h3><span>pH-Dependent Properties</span> <span>at pH:</span> <input aria-label="ph value for ph-dependent inputs" class="numberInput" data-parsley-max="14" data-parsley-required="true" data-parsley-required-message="This field is required." data-parsley-type="number" data-parsley-type-digits-message="Enter a number." data-parsley-type-number-message="Enter a number." id="id_kow_ph" max="14" min="0" name="kow_ph" step="0.1" type="number" value="7.4" /><br><div style="float:right;"></div></th>
		</tr>

	
		<tr>
		<th class="chemprop"><input aria-label="select kow with ph" id="id_kow_wph" name="kow_wph" type="checkbox" /><span><label for="id_kow_wph">Octanol/Water Distribution Coefficient (log)</label></span></th>
		<td id="id_kow_wph_EPI" class="ChemCalcs_unavailable epi kow_wph"></td>
		<td id="id_kow_wph_OPERA" class="ChemCalcs_available opera kow_wph"></td>
		<td id="id_kow_wph_TEST" class="ChemCalcs_unavailable test kow_wph"></td>
		<td id="id_kow_wph_ChemAxon" class="ChemCalcs_available chemaxon kow_wph"></td>
		<td id="id_kow_wph_equation" class="ChemCalcs_unavailable equation kow_wph"></td>
		<td id="id_kow_wph_geomean" class="ChemCalcs_available geomean kow_wph"></td>
		<td id="id_kow_wph_Measured" class="ChemCalcs_unavailable measured kow_wph"></td>
		</tr>


		<tr>
		<th class="chemprop"><input aria-label="select water solubility with ph" id="id_water_sol_ph" name="water_sol_ph" type="checkbox" /><span><label for="id_water_sol_ph"> Water Solubility (mg/L)</label></span></th>
		<td id="id_water_sol_ph_EPI" class="ChemCalcs_unavailable epi water_sol_ph"></td>
		<td id="id_water_sol_ph_OPERA" class="ChemCalcs_unavailable opera water_sol_ph"></td>
		<td id="id_water_sol_ph_TEST" class="ChemCalcs_unavailable test water_sol_ph"></td>
		<td id="id_water_sol_ph_ChemAxon" class="ChemCalcs_available chemaxon water_sol_ph"></td>
		<td id="id_water_sol_ph_equation" class="ChemCalcs_unavailable equation water_sol_ph"></td>
		<td id="id_water_sol_ph_geomean" class="ChemCalcs_available geomean water_sol_ph"></td>
		<td id="id_water_sol_ph_Measured" class="ChemCalcs_unavailable measured water_sol_ph"></td>
		</tr>


	<tr>
		<th></th>
		<td class="ChemCalcs_available colorKey">Available</td>
		<td class="ChemCalcs_unavailable colorKey">Unavailable</td>
	</tr>
</table>