<!-- <div id="microspecies-distribution" class="plot" tabindex="0" aria-label="microspecies distribution"></div> -->
<!-- <div id="{{microDistPlotId}}" class="plot microspecies-distribution" tabindex="0" aria-label="microspecies distribution"></div> -->

<script type="text/javascript">

function toggleMicrospeciesTable(table_name) {
  /*
  Toggles between jchem and pkasolver microspecies tables with
  parent, microspecies, and chart data.

  TODO: Ensure the MS shown are pkasolver.
  */

  console.log("toggleMicrospeciesTable called: ", table_name)

  if (table_name != 'jchem' && table_name != 'pkasolver') {
    console.log("Table name doesn't match: ", table_name);
    return;
  }

  if (table_name === 'jchem') {
    // $('div#jchem-info').show();
    // $('div#pkasolver-info').hide();
    $('div#jchem-info').toggle();
    // $('button#btn-jchem').css('background-color', '#112e51');
    // $('button#btn-pkasolver').css('background-color', '#0071bc');
  }
  else if (table_name === 'pkasolver') {
    // $('div#jchem-info').hide();
    // $('div#pkasolver-info').show();
    $('div#pkasolver-info').toggle();
    // $('button#btn-pkasolver').css('background-color', '#112e51');
    // $('button#btn-jchem').css('background-color', '#0071bc');
  }

}


function plotMicroDist(calc, microDistDataId, microDistPlotId) {

  let dataArr;
  try {
    dataArr = JSON.parse($('#' + microDistDataId).text());
  }
  catch (e) {
    console.error("plotMicroDist: error parsing chart data: ", e);
    return;
  }

  var colorSet1 = ['#1a1423', '#1e7272', '#b55f3a', '#454545', '#372549'];
  var colorSet2 = ['#7bb399', '#1e7272', '#ba613b', '#454545', '#202020'];
  var colorSet3 = ['#64ad87', '#953579', '#5468ff', '#d8b83f', '#bf4200'];

  // NOTE: Using color set 2
  var seriesInfo = [
    {
      label: 'microspecies1',
      color: '#64ad87'
    },
    {
      label: 'microspecies2',
      color: '#953579',
    },
    {
      label: 'microspecies3',
      color: '#5468ff',
    },
    {
      label: 'microspecies4',
      color: '#d8b83f',
    },
    {
      label: 'microspecies5',
      color: '#bf4200',
    },
    {
      label: 'microspecies6',
      color: '#3F3B3C'
    },
    {
      label: 'microspecies7',
      color: '#FF0F0F'
    },

    {
      label: 'microspecies8',
      color: '#0DE2D8'
    },

    {
      label: 'microspecies9',
      color: '#660DE2'
    },
    {
      label: 'microspecies10',
      color: '#64ad87',
      linePattern: 'dotted'
    },
    {
      label: 'microspecies11',
      color: '#953579',
      linePattern: 'dotted'
    },
    {
      label: 'microspecies12',
      color: '#5468ff',
      linePattern: 'dotted'
    },
    {
      label: 'microspecies13',
      color: '#d8b83f',
      linePattern: 'dotted'
    },
    {
      label: 'microspecies14',
      color: '#bf4200',
      linePattern: 'dotted'
    },
    {
      label: 'microspecies15',
      color: '#3F3B3C',
      linePattern: 'dotted'
    },
    {
      label: 'microspecies16',
      color: '#FF0F0F',
      linePattern: 'dotted'
    },
    {
      label: 'microspecies17',
      color: '#0DE2D8',
      linePattern: 'dotted'
    },
    {
      label: 'microspecies18',
      color: '#660DE2',
      linePattern: 'dotted'
    },
    {
      label: 'microspecies19',
      color: '#64ad87',
      linePattern: 'dashed'
    },
    {
      label: 'microspecies20',
      color: '#953579',
      linePattern: 'dashed'
    },
    {
      label: 'microspecies22',
      color: '#5468ff',
      linePattern: 'dashed'
    },
    {
      label: 'microspecies21',
      color: '#d8b83f',
      linePattern: 'dashed'
    },
    {
      label: 'microspecies23',
      color: '#bf4200',
      linePattern: 'dashed'
    },
    {
      label: 'microspecies24',
      color: '#3F3B3C',
      linePattern: 'dashed'
    },
    {
      label: 'microspecies25',
      color: '#FF0F0F',
      linePattern: 'dashed'
    },
    {
      label: 'microspecies26',
      color: '#0DE2D8',
      linePattern: 'dashed'
    },
    {
      label: 'microspecies27',
      color: '#660DE2',
      linePattern: 'dashed'
    },
  ];
  var plotData = [];


  //get keys for series labels, then convert back to list for plotting
  for (var key in dataArr) {
    if (dataArr.hasOwnProperty(key)) {
      //do stuff with dict items not in prototype object
      var seriesObj = {
        label:key
      };
      seriesInfo.push(seriesObj);
      plotData.push(dataArr[key]);
    }
  }


  // getting parent div dimensions:
  // var parent_div_height = $('#{{microDistPlotId}}').height();
  // var parent_div_width = $('#{{microDistPlotId}}').width();
  var parent_div_height = $('#' + microDistPlotId).height();
  var parent_div_width = $('#' + microDistPlotId).width();


  var plot = $.jqplot (microDistPlotId, plotData, {

    height: parent_div_height,
    width: parent_div_width,

    title: {
      text: calc + ' Microspecies Distribution (%)',
      fontSize: '10pt'
    },
    series: seriesInfo,
    axes: {
      xaxis: {
        label: 'pH',
        min: 0,
        max: 14,
        tickInterval: 1,
        labelOptions: {
          fontSize: '8pt'
        }
      },
      yaxis: {
        min: 0,
        max: 100,
        tickInterval: 10
      }
    },
    seriesDefaults: {
      showMarker: false,
      color: 'black',
      label: 'microspecies'
    },
    // highlighter: {
    //   show: true,
    //   tooltipFormatString: '%.2f%'
    //   // sizeAdjust: 7.5
    // },
    grid: {
      background: '#ffffff'
    }
  });

  // Binds highlighting feature when user hovers over lines:
  $('div#' + microDistPlotId).bind('jqplotMouseMove', function(event, xy, axesData, neighbor, plot) {

    // var drawingCanvas = $(".jqplot-highlight-canvas")[0];
    // var context = drawingCanvas.getContext('2d');
    var lineBounds = 6;  // linewidth + lineBounds for triggering highlight
    // context.clearRect(0, 0, drawingCanvas.width, drawingCanvas.height);
    for (var i = 0; i < plot.series.length; i++) {
      var value = hitTestSegments(plot.series[i].gridData, xy, plot.series[i].lineWidth + lineBounds);
      if (value > -1) {
        // highlightLine(i + 1, context, plot);
        highlightLine(i + 1);
        highlightBorder(i + 1);
        break;
      }
      highlightBorder();
      highlightLine();
    }
  });

  // Hoverover event for microspecies images: highlights plot line:
  $('td#ms-cell.' + calc).children('div.chemspec_molecule').hover(function() {
    // Highlight associated microspecies line on plot on hover-in event:

    let msNum = $(this).children('div.cts-chem-wrap').attr('id').split('microspecies')[1];

    highlightLine(msNum);
    highlightBorder(msNum);
  }, function() {
    // Hover-out event: removes border and plot highlights:
    highlightBorder();
    highlightLine();
  });

  function hitTestSegments(points, point, thickness) {
    if (points.length < 2) return -1;
    for (var i = 0; i < points.length - 1; i++) {
      var p0 = points[i];
      var p1 = points[i + 1];
      var distance = dotLineLength(point.x, point.y, p0[0], p0[1], p1[0], p1[1], true);
      if (distance < thickness) return i;
    }
    return -1;
  }

  //+ Jonas Raoni Soares Silva
  //@ http://jsfromhell.com/math/dot-line-length [rev. #1]
  dotLineLength = function(x, y, x0, y0, x1, y1, o) {
    function lineLength(x, y, x0, y0) {
      return Math.sqrt((x -= x0) * x + (y -= y0) * y);
    }
    if (o && !(o = function(x, y, x0, y0, x1, y1) {
        if (!(x1 - x0)) return {
          x: x0,
          y: y
        };
        else if (!(y1 - y0)) return {
          x: x,
          y: y0
        };
        var left, tg = -1 / ((y1 - y0) / (x1 - x0));
        return {
          x: left = (x1 * (x * tg - y + y0) + x0 * (x * -tg + y - y1)) / (tg * (x1 - x0) + y0 - y1),
          y: tg * left - tg * x + y
        };
      }(x, y, x0, y0, x1, y1), o.x >= Math.min(x0, x1) && o.x <= Math.max(x0, x1) && o.y >= Math.min(y0, y1) && o.y <= Math.max(y0, y1))) {
      var l1 = lineLength(x, y, x0, y0),
        l2 = lineLength(x, y, x1, y1);
      return l1 > l2 ? l2 : l1;
    } else {
      var a = y0 - y1,
        b = x1 - x0,
        c = x0 * y1 - y0 * x1;
      return Math.abs(a * x + b * y + c) / Math.sqrt(a * a + b * b);
    }
  };

  // function highlightLine(msNum, context, plot) {
  function highlightLine(msNum) {
    /*
    Highlights microspecies line based on microspecies number/id.
    */

    let drawingCanvas = $('div#' + microDistPlotId).children('.jqplot-highlight-canvas')[0];
    let context = drawingCanvas.getContext('2d');
    context.clearRect(0, 0, drawingCanvas.width, drawingCanvas.height);

    if (!msNum) { return; }

    context.beginPath();
    for (var j = 0; j < plot.series[msNum - 1].gridData.length; j++) {
      var p = plot.series[msNum - 1].gridData[j];
      if (j == 0)
        context.moveTo(p[0], p[1]);
      else context.lineTo(p[0], p[1]);
    }

    let msDiv = $('td#ms-cell.' + calc + ' div.chemspec_molecule').find('div#microspecies' + msNum).parent();

    var borderColor = $(msDiv).css('border-left-color');

    context.lineWidth = plot.series[msNum  - 1].lineWidth + 9;
    var outerBorderColor = borderColor.replace(')', ', 0.25)').replace('rgb', 'rgba');
    context.strokeStyle = outerBorderColor;
    context.stroke();
    context.lineWidth = plot.series[msNum  - 1].lineWidth + 3;
    var innerBorderColor = borderColor.replace(')', ', 0.75)').replace('rgb', 'rgba');
    context.strokeStyle = innerBorderColor;
    context.stroke();
  }

  function highlightBorder(msNum) {
    /*
    Highlights microspecies image border when user hovers
    over its MS distribution plot line.
    */

    let msDiv = $('td#ms-cell.' + calc + ' div.chemspec_molecule').find('div#microspecies' + msNum).parent('div.chemspec_molecule');

    $('div.cts-chem-wrap').each(function() {
      var divId = $(this).attr('id');

      if (divId.split("microspecies").length != 2) { 
        return;
      }

      var thisMsNum = parseInt(divId.split("microspecies")[1]);

      if (thisMsNum == msNum) {
        // Highlights border:
        $(msDiv).css('border-width', '10px');
      }
      else {
        console.log("Unhighlighting border.")
        // Unhighlights border:
        $('div#' + divId).parent('div.chemspec_molecule').css('border-width', '5px');
      }
    });
  }


  // Get series colors to make microspecies image border
  // the same as its series color
  var ms_num = 1;
  $('td#ms-cell.' + calc + ' div.chemspec_molecule').find('svg').each(function () {
      // add metabolites class:
      $(this).attr('class', "metabolite");
      $(this).attr('id', "microspecies" + ms_num);
      ms_num += 1;
  });

  // Gets microspecies' color and name to add to borders of
  // microspecies images:
  for (var series in plot['series']) {
    var color = plot['series'][series]['color']; // series color..
    var name = plot['series'][series]['label']; // series name..
    var linePattern = plot['series'][series]['linePattern'];

    let msItem = $('td#ms-cell.' + calc + ' div.chemspec_molecule').find('div#' + name);

    if (msItem.length < 1) {
      console.log("Could not locate msItem.");
      return;
    }

    if (linePattern == 'dotted') {
      $(msItem).parent('div').css({'border': '5px solid ' + color, 'border-style': 'dotted'}); // sets border 
    }
    else if (linePattern == 'dashed') {
      $(msItem).parent('div').css({'border': '5px solid ' + color, 'border-style': 'dashed'}); // sets border
    }
    else {
      $(msItem).parent('div').css('border', '5px solid ' + color); // sets border 
    }
    $(msItem).css({'border': 'none', 'margin': '0px'}); // remove image border..
  }

  // 508 compliance fixes:
  // ++++++++++++++++++++++++++++++++++++++++++++++++++++
  let microspeciesCount = 0;
  var plotCanvas = $('canvas').each(function() {
    let plotType = $(this).parent('div').attr('id');
    if (plotType == microDistPlotId) {
      if ($(this).hasClass('jqplot-series-canvas')) {
        microspeciesCount += 1;
        $(this).attr({'aria-label': "microspecies" + microspeciesCount});  
      }
      else {
        $(this).attr({'aria-label': "microspecies distribution vs pH plot"});
      }
    }
  });
  // ++++++++++++++++++++++++++++++++++++++++++++++++++++

}
</script>

<script type="text/javascript">
$(document).ready(function () {

  let msCalcs = {{microDistCalcs}};

  for (let calcInd in msCalcs.calcs) {
    let calc = msCalcs.calcs[calcInd];
    let capitalCalc = calc.charAt(0).toUpperCase() + calc.slice(1);  // capitalizes calc name
    let microDistDataId = "microDistData" + capitalCalc;
    let microDistPlotId = microDistDataId + "Plot";

    plotMicroDist(calc, microDistDataId, microDistPlotId);

  }

  // console.log("Deafult toggling to jchem")
  // toggleMicrospeciesTable('jchem');  // show jchem pka data as default


});
</script>