<img id="landing-page-pic" src="{% static 'cts_app/images/landing_page_pic.png' %}" width=100% alt="This box shows a two-dimensional representation of the molecular structure of a chemical."/>

<br><br>

<div class="box multi related-info" style="float:right;margin-left:5%;">
	<h4 class="pane-title">Key Links</h4>
	<div class="pane-content">
	<ul>
		<li><a href="https://www.epa.gov/chemical-research">Chemical Research</a></li>
		<li><a href="https://www.epa.gov/environmental-topics/chemicals-and-toxics-topics">Chemicals and Toxins</a></li>
		<li><a href="https://www.epa.gov/chemical-research/comptox-chemicals-dashboard">CompTox Chemicals Dashboard</a></li>
		<li><a href="https://www.epa.gov/research">EPA Research</a></li>
	</ul>
	</div>
</div>

<h3>What is CTS?</h3>
<p>The Chemical Transformation Simulator (CTS) is a web-based tool for predicting environmental and biological transformation pathways and physicochemical properties of organic chemicals.</p>


<br>
<h3>CTS Workflows</h3>

<p>Three workflows have been implemented in CTS to help users predict how organic chemicals are partitioned, transformed and metabolized in environmental and biological systems. More information about the individual workflows and modules is available under the tabs in the navigation panel.</p>

<p><b>Calculate Chemical Speciation Workflow:</b> Calculates the speciation (i.e., ionization as a function of pH, tautomer distribution, and possible stereoisomers) of the entered chemical.</p>

<p><b>Calculate Physicochemical Properties Workflow:</b> Calculates physicochemical properties for the entered chemical using four stand-alone calculators: EPI Suite, ChemAxon, TEST, and OPERA.</p>

<p><b>Generate Transformation Products Workflow:</b> Generates transformation products of the entered chemical based on user-specified conditions and reaction libraries. Once transformation products are generated, physicochemical properties for one or more parent or product chemicals can be calculated within the workflow.</p>

<p><i>CTS functionality will be limited when using the Internet Explorer web browser. We recommend using the latest version of Google Chrome, Microsoft Edge, or Mozilla Firefox.</i></p>

<ul style="margin-left:10px;">
<li><a href="/cts/chemspec">Chemical Speciation Workflow</a></li>
<li><a href="/cts/pchemprop">Physicochemical Properties Workflow</a></li>
<li><a href="/cts/gentrans">Transformation Products Workflow</a></li>
</ul>