<!--start 02cts_uberintroblock_nomodellinks-->

<!-- "Click" Menus -->
<script type="text/javascript">
$( document ).ready(function() {
	$('.fadeMenu').hover(function(){
		$(this).stop().animate({ backgroundColor:'#479147', color:'#FFFFFF'},500);
		}, function(){
			$(this).stop().animate({ backgroundColor:'#dee7ef', color:'#34322D'},500);
	});
});
</script>

<!-- Header Menu Bar -->
<div id="header_menu_nav">
  <ul></ul>
</div>      
<div id="header_menu_r">
  <ul>
	<li><a href="contactus_pop_input.html">Contact Us</a></li>
  </ul>
</div>

<!--end 02cts_uberintroblock_nomodellinks-->