<!--start 04uberbatchinput-->
	<div class="articles">

		<form method="post" id="form1" action="/cts/{{model}}/batchoutput">
	
		<h2 class="model_header">{{ model_attributes }}</h2>
		<ul class="nobullet">
			<!-- <li><a href="/csvs/{{model}}_batch.csv">Please download, fill, and upload this CSV file for batch calculation. </a></li> -->
			<li><i>Upload a text file of chemicals organized into a single column </i>(<a href="/static/docs/sample_batch.txt" download>sample batch input</a>):</li>
		</ul>
		<ul class="nobullet">
		<li>
		<!-- <form method="post" id="form1" action="/cts/{{model}}/batchoutput"> -->
			File to upload: <input type="file" id="upfile1" name="upfile" class="required input_button" accept=".txt" />
			<br>

			<!-- section of html to load once chemicals file is uploaded -->
			<div id="batchfilewrap" hidden>
				
				<br><br>
				
				<h3> List of chemicals from file: </h3>
				<pre id="fileDisplayArea"><ol id="batch_list"></ol></pre>
				
				<!-- get chemical details for each, list in thumnail table view way -->
				<!-- <div id="batchChemDisplay"></div> -->

			</div>

		</li>
		<!-- <li> -->
			<!-- <input class="submit_button" type="button" value="Submit Batch" /> Upload the file! -->
			<!-- </form> -->
		<!-- </li>	 -->
		</ul>

		<br>
                   
<!-- End "popup" div -->
<!-- enctype="multipart/form-data" action={{model}}_batchoutput.html -->

<!--end 04uberbatchinput-->
