<!--start 04uberinput_start-->
<script src="/static/stylesheets/cts_scripts_input_tabbed.js"></script>
<!-- <script type="text/javascript" src="/static/stylesheets/jquery.validate.js"></script> -->
<script src="/static/stylesheets/efs/marvin4js/js/promise-0.1.1.min.js" type="text/javascript"></script>
<script src="/static/stylesheets/efs/marvin4js/js/marvinjslauncher.js" type="text/javascript"></script>
<!-- <script src="/static/stylesheets/marvin_test.js" type="text/javascript"></script> -->
	<div class="articles_input">
		<h2 class="model_header">{{ model_attributes }}</h2>
		<form method="post" action="/cts/{{model}}/output">
<!--end 04uberinput_start-->
