<div class="input_nav">
	<ul>{% for item_className in nav_dict.class_name %}{% with forloop.counter0 as index_className %}{% for item_tabLabel in nav_dict.tab_label %}{% with forloop.counter0 as index_tabLabel %}{% ifequal index_className index_tabLabel %}{% if index_className == 0 %}
		<li class="{{ item_className }} tabSel">{{ item_tabLabel }} </li>{% else %}|<li class="{{ item_className }} tabUnsel"> {{ item_tabLabel }} </li>{% endif %}{% endifequal %}{% endwith %}{% endfor %}{% endwith %}{% endfor %}
	</ul>
</div>

<br><br>

<div class="input_table tab tab_Chemical"><p><i>Enter a SMILES, IUPAC or CAS#, or draw a chemical, then click the button located in the top right of the chosen method to get results. Click the "next" button below or click the "{{nextTabName}}" link above to continue through the workflow.</i></p>
</div>

<div class="input_table tab tab_Speciation" style="display:none;"><p><i>Check one or more calculation methods to run, then hit submit below</i></p>
</div>

<div class="input_table tab tab_ChemCalcs" style="display:none;"><p><i>Check chemical properties and which calculators to compute them, then hit submit</i></p>
</div>

<div class="input_table tab tab_ReactionPathSim" style="display:none;"><p><i>Choose one of the guidelines to help select the appropriate reaction libraries or choose "User selected (advanced)" to manually select the reaction libraries to use for generating transformation products, then click submit.</i></p>
</div>