<!--start 05cts_ubertext_links_right-->
<div class="right">
  <div class="urbangreymenu" id="r_menu">

    <h3 class="headerbar">P-Chem Calculators</h3>
        <ul>
        	<li><a href="http://www.epa.gov/opptintr/exposure/pubs/episuite.htm" target="_blank" class="fadeMenu">EPI Suite</a></li>
			<li><a href="http://www.epa.gov/extrmurl/research/sparc.html" target="_blank" class="fadeMenu">SPARC</a></li>
        	<li><a href="http://www.chemaxon.com/" target="_blank" class="fadeMenu">ChemAxon</a></li>
			<li><a href="#" target="_blank" class="fadeMenu"><b>TEST</b></a></li>
			<!-- <li><a href="#" target="_blank" class="fadeMenu submenu_last"><b>UMPPS</b></a></li> -->
        </ul>

	<h3 class="headerbar">Chemical Information</h3>
        <ul>
			<li><a href="http://www.chemspider.com/" target="_blank" class="fadeMenu">ChemSpider</a></li>
			<li><a href="http://pubchem.ncbi.nlm.nih.gov/" target="_blank" class="fadeMenu">PubChem</a></li>
			<li><a href="http://chem.sis.nlm.nih.gov/chemidplus/" target="_blank" class="fadeMenu">ChmIDplus</a></li>
			<li><a href="http://www.epa.gov/ncct/dsstox/" target="_blank" class="fadeMenu">DSSTox</a></li>
			<li><a href="https://github.com/ghutchis/ChemLook" target="_blank" class="fadeMenu submenu_last"><b>ChemLook</b></a></li>
		</ul>
		
	<h3 class="headerbar">Chemical Regulation Programs</h3>
        <ul>
			<li><a href="http://www.epa.gov/agriculture/lsca.html" target="_blank" class="fadeMenu">TSCA</a></li>
			<li><a href="http://www.epa.gov/oecaagct/lfra.html" target="_blank" class="fadeMenu submenu_last">FIFRA</a></li>
		</ul>

  </div>
</div>

<!--end 05cts_ubertext_links_right-->
