<!--start 05cts_ubertext_links_right-->
<!-- <div class="right"> -->
<div>
  <div class="urbangreymenu" id="r_menu">

  <h3 class="headerbar">Description of CTS Modules</h3>
        <ul>
        	<li><a href="/model-description/chemical-editor" class="fadeMenu">Chemical Editor</a></li>
			<li><a href="/model-description/pchemprops" class="fadeMenu">P-Chem Properties</a></li>
        	<li><a href="/model-description/reaction-pathway-simulator" class="fadeMenu">Reaction Pathway Simulator</a></li>
        </ul>

    <h3 class="headerbar">Description of P-Chem Calculators</h3>
        <ul>
        	<li><a href="http://www.epa.gov/opptintr/exposure/pubs/episuite.htm" target="_blank" class="fadeMenu">EPI Suite</a></li>
			<li><a href="http://www.epa.gov/extrmurl/research/sparc.html" target="_blank" class="fadeMenu">SPARC</a></li>
        	<li><a href="http://www.chemaxon.com/" target="_blank" class="fadeMenu">ChemAxon</a></li>
			<li><a href="http://www.epa.gov/nrmrl/std/qsar/qsar.html#TEST" target="_blank" class="fadeMenu">TEST</a></li>
			<!-- <li><a href="#" target="_blank" class="fadeMenu submenu_last"><b>UMPPS</b></a></li> -->
        </ul>

    <h3 class="headerbar">Description of Reaction Libraries</h3>
        <ul>
        	<li><a href="areduction" target="_blank" class="fadeMenu">Abiotic Reduction</a></li>
			<li><a href="ahydrolysis" target="_blank" class="fadeMenu">Abiotic Hydrolysis</a></li>
        	<li><a href="mammet" target="_blank" class="fadeMenu">Mammalian Metabolism</a></li>
        </ul>

	<!-- <h3 class="headerbar">Chemical Information</h3> -->
        <!-- <ul> -->
			<!-- <li><a href="http://www.chemspider.com/" target="_blank" class="fadeMenu">ChemSpider</a></li> -->
			<!-- <li><a href="http://pubchem.ncbi.nlm.nih.gov/" target="_blank" class="fadeMenu">PubChem</a></li> -->
			<!-- <li><a href="http://chem.sis.nlm.nih.gov/chemidplus/" target="_blank" class="fadeMenu">ChmIDplus</a></li> -->
			<!-- <li><a href="http://www.epa.gov/ncct/dsstox/" target="_blank" class="fadeMenu">DSSTox</a></li> -->
			<!-- <li><a href="https://github.com/ghutchis/ChemLook" target="_blank" class="fadeMenu submenu_last">ChemLook</a></li> -->
		<!-- </ul> -->
		
	<!-- <h3 class="headerbar">Chemical Regulation Programs</h3> -->
        <!-- <ul> -->
			<!-- <li><a href="http://www.epa.gov/agriculture/lsca.html" target="_blank" class="fadeMenu">TSCA</a></li> -->
			<!-- <li><a href="http://www.epa.gov/oecaagct/lfra.html" target="_blank" class="fadeMenu submenu_last">FIFRA</a></li> -->
		<!-- </ul> -->

  <!-- </div> -->
</div>

<!--end 05cts_ubertext_links_right-->
