<!--start 05cts_ubertext_links_right-->
<!-- <div class="right"> -->
<div>
  <div class="urbangreymenu" id="r_menu">

  <h3 class="headerbar">Description of CTS Modules</h3>
        <ul>
        	<li><a href="/cts/module/chemedit-description" class="fadeMenu">Chemical Editor</a></li>
			<li><a href="/cts/module/pchemprop-description" class="fadeMenu">P-Chem Properties</a></li>
        	<li><a href="/cts/module/reactsim-description" class="fadeMenu">Reaction Pathway Simulator</a></li>
        </ul>

    <h3 class="headerbar">Description of P-Chem Calculators</h3>
        <ul>
        	<li><a href="http://www.epa.gov/opptintr/exposure/pubs/episuite.htm" target="_blank" class="fadeMenu">EPI Suite</a></li>
			<li><a href="http://www.epa.gov/extrmurl/research/sparc.html" target="_blank" class="fadeMenu">SPARC</a></li>
        	<li><a href="http://www.chemaxon.com/" target="_blank" class="fadeMenu">ChemAxon</a></li>
			<li><a href="http://www.epa.gov/nrmrl/std/qsar/qsar.html#TEST" target="_blank" class="fadeMenu">TEST</a></li>
			<!-- <li><a href="#" target="_blank" class="fadeMenu submenu_last"><b>UMPPS</b></a></li> -->
        </ul>

    <h3 class="headerbar">Description of Reaction Libraries</h3>
        <ul>
        	<li><a href="/cts/areduction" class="fadeMenu">Abiotic Reduction</a></li>
			<li><a href="/cts/ahydrolysis" class="fadeMenu">Abiotic Hydrolysis</a></li>
        	<li><a href="/cts/mammet" class="fadeMenu">Mammalian Metabolism</a></li>
        </ul>

    <br>

    <ul>
        <li><a href="/cts/guide" class="fadeMenu darkBorders"><b>Get User's Guide</a></li>
    </ul>

  <!-- </div> -->
</div>

<!--end 05cts_ubertext_links_right-->
