
<div id="chemEditDraw">
	<table class="input_table tab tab_Chemical">
		<tr>
			<td><span>Draw Chemical Structure</span>
			<input id="getSmilesButton" class="tab_chemicalButtons" type="button" value="Draw a chemical structure and Click Here"></td>
		</tr>
		<!-- begin Marvin4JS -->
		<tr>
			<td>
				<div id="content" class="resizable"> 
			<iframe id="sketch" src="/static/stylesheets/efs/marvin4js/editorws.html" class="sketcher-frame" style="overflow: hidden; min-width: 600px; min-height: 450px; border: 1px solid darkgray;"></iframe>
				</div>
		<!-- end Marvin4JS -->
			</td>
		</tr>
	</table>
</div> 



<div id="chemEditResults">
	<table class="input_table tab tab_Chemical">
		
		<tr>
			<td id="results" colspan="2"><span><h3>Results</h3></span></td>
		</tr>
		<tr>
			<td class="label">Entered chemical:</td>
			<td><textarea id="chemical" name="chemical" readonly></textarea></td>
		</tr>
		<tr>
			<td class="label">Initial SMILES:</td>
			<td><textarea id="origsmiles" name="orig_smiles" readonly></textarea></td>
		</tr>
		<tr>
			<td class="label">SMILES:</td>
			<td><textarea id="smiles" name="smiles" readonly></textarea></td>
		</tr>
		<tr>
			<td class="label">IUPAC:</td>
			<td><textarea id="iupac" name="iupac" readonly></textarea></td>
		</tr>
		<tr>
			<td class="label">Formula:</td>
			<td><textarea id="formula" name="formula" readonly></textarea></td>
		</tr>
		<tr>
			<td class="label">Mass:</td>
			<td><textarea id="mass" name="mass" readonly></textarea></td>
		</tr>
		<tr>
			<td class="label">Exact Mass:</td>
			<td><textarea id="exactmass" name="exactmass" readonly></textarea></td>
		</tr>
	</table>
</div>