
<!-- <div id="chemEditLookup"> -->
	<!-- <table class="input_table tab tab_Chemical"> -->
		<!-- <tr> -->
			<!-- <td colspan="2"><span>Lookup Chemical</span> -->
			<!-- <input id="setSmilesButton" class="tab_chemicalButtons" type="button" value="Enter a SMILES, IUPAC or CAS# and click here" onClick="importMol()"></td> -->
		<!-- </tr> -->
		<!-- <tr> -->
			<!-- <td colspan="2"><textarea id="MolTxt" name="MolTxt">O=C1NN=C(N1)N(=O)=O</textarea></td> -->
		<!-- </tr> -->
	<!-- </table> -->
<!-- </div> -->


<div id="chemEditDraw">
	<table class="input_table tab tab_Chemical">
		<tr>
			<td><span>Draw Chemical Structure</span>
			<input id="getSmilesButton" class="tab_chemicalButtons" type="button" value="Draw a chemical structure and Click Here"></td>
		</tr>
		<!-- begin Marvin4JS -->
		<tr>
			<td>
				<div id="content" class="resizable"> 
			<iframe id="sketch" src="/static/stylesheets/efs/marvin4js/editorws.html" class="sketcher-frame" style="overflow: hidden; min-width: 600px; min-height: 450px; border: 1px solid darkgray;"></iframe>
				</div>
		<!-- end Marvin4JS -->
			</td>
		</tr>
	</table>
</div> 



<div id="chemEditResults">
	<table class="input_table tab tab_Chemical">
		
		<tr>
			<td id="results" colspan="2"><span><h3>Results</h3></span></td>
		</tr>
		<tr>
			<td class="label">SMILES:</td>
			<td><textarea id="molecule" name="smiles" readonly></textarea></td>
		</tr>
		<tr>
			<td class="label">Initial SMILES:</td>
			<td><textarea id="orig-molecule" name="orig_smiles" readonly></textarea></td>
		</tr>
		<tr>
			<td class="label">IUPAC:</td>
			<td><textarea id="IUPAC" name="iupac" readonly></textarea></td>
		</tr>
		<tr>
			<td class="label">Formula:</td>
			<td><textarea id="formula" name="formula" readonly></textarea></td>
		</tr>
		<tr>
			<td class="label">Weight:</td>
			<td><textarea id="weight" name="mass" readonly></textarea></td>
		</tr>
	</table>
</div>