<script type="text/javascript" src="/static/stylesheets/jqplot/jquery.jqplot.js"></script>
<script type="text/javascript" src="/static/stylesheets/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="/static/stylesheets/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<!-- <script type="text/javascript" src="/static/stylesheets/scripts_microDistPlot.js"></script> -->



<script type="text/javascript">
$(document).ready(function(){
  var plot1 = $.jqplot ('chart1', [[3,7,9,1,4,6,8,2,5]]); //Make simple line graph
});
</script>

<div id="chart1">

</div>