<!-- ### JIT REFERENCES ### -->
<!-- CSS Files -->
<link type="text/css" href="/static/stylesheets/style_gentrans_tree.css" rel="stylesheet" />
<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->
<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="/static/stylesheets/Jit/jit.js"></script>
<!-- ### END JIT REFERENCES ### -->

<script>
var labelType, useGradients, nativeTextSupport, animate;

(function() {
  var ua = navigator.userAgent,
      iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
      typeOfCanvas = typeof HTMLCanvasElement,
      nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
      textSupport = nativeCanvasSupport 
        && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
  //I'm setting this based on the fact that ExCanvas provides text support for IE
  //and that as of today iPhone/iPad current text support is lame
  labelType = (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
  nativeTextSupport = labelType == 'Native';
  useGradients = nativeCanvasSupport;
  animate = !(iStuff || !nativeCanvasSupport);

})();

var Log = {
  elem: false,
  write: function(text) {
    if (!this.elem) 
      this.elem = document.getElementById('log');
    this.elem.innerHTML = text;
    this.elem.style.left = (500 - this.elem.offsetWidth / 2) + 'px';
  }

};


var pchempropsObj = $.parseJSON($('#pchemprops').val());


function init(){

    //init data
    var json = $.parseJSON($('#hiddenJson').val());

    // json = $.grep(json, function(n) { return(n) });

    //attempt at fixing "child-parent" problem. maybe not the best..worked though
    newChilds = [];
    for (var i in json['children']) {
        if (json['children'][i].hasOwnProperty('id')) {
            newChilds.push(json['children'][i]);
        }
    }
    delete json['children']; //delete children element
    json.children = newChilds; //replace with array with valid ids

    // smallest everthing-visible size
    // var nodeHeight = 192;
    // var nodeWidth = 150;
    // pending thumbnail size (may go smaller)
    var nodeHeight = 114;
    var nodeWidth = 100;
    
    //init Spacetree
    //Create a new ST instance
    var st = new $jit.ST({
        //id of viz cont element
        injectInto: 'infovis',

        offsetX: 300, //TODO: make more general, i.e., dependent on canvas size
        // offsetY: 400,

        levelsToShow: 2, //# of levels at load and when clicking a node

        //set duration for the animation
        duration: 500,
        //set animation transition type
        transition: $jit.Trans.Quart.easeInOut,
        //set distance between node and its children
        levelDistance: 50,
        //enable panning
        Navigation: {
          enable: true,
          panning: true,
          zooming: 50
        },
        //set node and edge styles
        //set overridable=true for styling individual
        //nodes or edges
        Node: {
            // height: 20,
            // width: 60,
            overridable: true, //set styles for nodes individually 
            height: nodeHeight,
            width: nodeWidth,
            type: 'none'
            // color: '#aaa',
        },
        
        Edge: {
            type: 'bezier',
            overridable: true,
            color: '#1a1a1a'
        },
        
        onBeforeCompute: function(node){
            // Log.write("loading " + node.name);
            Log.write("loading...");
        },
        
        onAfterCompute: function(){
            Log.write("");
        },
        
        //This method is called on DOM label creation.
        //Use this method to add event handlers and styles to
        //your node.
        onCreateLabel: function(label, node){
            label.id = node.id;            
            label.innerHTML = node.name;
            label.onclick = function(){
                // st.onClick(node.id);
                st.onClick(node.id, {
                    Move: {
                        enable: false
                    }
                });
            };
            //set label styles
            var style = label.style;
            // style.width = 60 + 'px';
            // style.height = 17 + 'px';        
            style.cursor = 'pointer';
            style.color = '#333';
            style.fontSize = '0.8em';
            style.textAlign= 'center';
            style.paddingTop = '3px';
        },
        
        //This method is called right before plotting
        //a node. It's useful for changing an individual node
        //style properties before plotting it.
        //The data properties prefixed with a dollar
        //sign will override the global node style properties.
        // onBeforePlotNode: function(node){
            //add some color to the nodes in the path between the
            //root node and the selected node.
            // if (node.selected) {
            // var selectedNode = node.id;
            //     // node.data.$color = "#ff7";
            // }
            // else {
            //     delete node.data.$color;
            //     //if the node belongs to the last plotted level
            //     if(!node.anySubnode("exist")) {
            //         //count children number
            //         var count = 0;
            //         node.eachSubnode(function(n) { count++; });
            //         //assign a node color based on
            //         //how many children it has
            //         node.data.$color = ['#aaa', '#baa', '#caa', '#daa', '#eaa', '#faa'][count];                    
            //     }
            // }
        // },
        
        //This method is called right before plotting
        //an edge. It's useful for changing an individual edge
        //style properties before plotting it.
        //Edge data proprties prefixed with a dollar sign will
        //override the Edge global style properties.
        onBeforePlotLine: function(adj){
            if (adj.nodeFrom.selected && adj.nodeTo.selected) {
                adj.data.$color = "#eed";
                adj.data.$lineWidth = 3;
            }
            else {
                delete adj.data.$color;
                delete adj.data.$lineWidth;
            }
        },

        Tips: {
            enable: true,
            type: 'auto',
            onShow: function(tip, node) {
                tip.innerHTML = node.data.html;
            }
        },

        Events: {
            enable: true,
            onRightClick: function(node, eventInfo, e) {

                // Get pchemprop selected props 
                var pchempropsObj = $.parseJSON($('#pchemprops').val());

                var params = {"data":{}};
                for (var key in pchempropsObj) {
                    if (pchempropsObj.hasOwnProperty(key) && key != "resultsDict") {
                        params["data"][key] = pchempropsObj[key];
                    }
                }
                params["data"]["chem_struct"] = node.data.smiles;
                params["url"] = "/jchem-cts/ws/getpchemprops/";
                params["type"] = "POST";
                params["contentType"] = "application/json";
                params["dataType"] = "json";

                getPchemData(params, function(pchemResults) {

                    // Skip if pchemprops already exist.
                    // todo: "loading.." status while getting pchemprops

                    var chemaxonMethods = ["KLOP", "VG", "PHYS"]; //calculation methods for chemaxon
                    var tableID = '#' + node.id + '_table'; //table id
                    var table = $(tableID); //table element
                    var mainDiv = $(tableID).parent(); //popup container div
                    var newRow = ""; //str var for building rows
                    var rowWithMethods = ""; //for handling rows with methods

                    //Insert header row at beginning of table:
                    $(tableID).prepend('<tr><th colspan="2">Metabolite Information</th></tr>');

                    //Insert header before pchemprops section of table:
                    // $(tableID).append('<tr><th colspan="2">p-Chem Properties</th></tr>');

                    //Add pchem props to node's popup table:
                    for (calc in pchemResults) {
                        for (prop in pchemResults[calc]) {

                            var methods = pchemResults[calc][prop];
                            var hasMethods = false;
                            var propName = getProperName(prop);

                            for (key in methods) {
                                if ($.inArray(key, chemaxonMethods) >= 0) {
                                    hasMethods = true;
                                }
                            }

                            if (hasMethods) {
                                newRow = '<tr><td>' + propName + '</td><td>'; //start new row for prop
                                for (method in pchemResults[calc][prop]) {
                                    var values = getValuesFromData(calc, prop, pchemResults[calc][prop][method]["data"]);
                                    newRow += '<div class="pchemCellWrap">'
                                    newRow += '<div class="pchemCell">' + method + '</div>';
                                    newRow += '<div class="pchemCell">' + values[propName] + '</div>';
                                    newRow += '</div>';
                                }
                                newRow += '</td></tr>';
                                $(tableID + ' tr:last').append(newRow); //append new row to table
                            }
                            else {
                                //any property with only one value (i.e., no methods)
                                //need to get data differently depending on property...
                                var values = getValuesFromData(calc, prop, pchemResults[calc][prop]["data"]);
                                newRow = '<tr><td>' + propName + '</td><td>';
                                for (key in values[propName]) {
                                    //already know it doesn't contain methodList keys
                                    var test = key;
                                    newRow += key + ': ';
                                    newRow += values[propName][key] + '<br>';
                                }
                                newRow += '</td></tr>';
                                $(tableID + ' tr:last').append(newRow);
                            }
                        }
                    }
                    node.data.html = mainDiv[0].innerHTML;
                    $("#" + node.id).children().toggleClass("selectedMetabolite"); //highlight node
                });
            }
        }
    });
    //load json data
    st.loadJSON(json);
    //compute node positions and layout
    st.compute();
    //optional: make a translation of the tree
    // st.geom.translate(new $jit.Complex(-200, 0), "current");
    //emulate a click on the root node.
    st.onClick(st.root);
    //end

}


function getValuesFromData(calc, prop, data) {
    //+++++++++++++++++++++++++++++++++++++++
    //grabs values out of data dict based on
    //the calculator and property
    //+++++++++++++++++++++++++++++++++++++++

    var value = {};

    switch(calc) {
        case "chemaxon":
            switch(prop) {
                case "ion_con":
                    // Gets pka and pkb values
                    value["Ionization Constant"] = {};
                    var pka = data[0]["pKa"]["mostAcidic"];
                    for (val in pka) {
                        pka[val] = pka[val].toFixed(3); //round pka values
                    }
                    var pkb = data[0]["pKa"]["mostBasic"];
                    for (val in pkb) {
                        pkb[val] = pkb[val].toFixed(3); //round pka values
                    }
                    value["Ionization Constant"]["pka"] = pka;
                    value["Ionization Constant"]["pkb"] = pkb;
                    break;
                case "kow_no_ph":
                    // Gets logP value
                    value["logP"] = data[0]["logP"]["logpnonionic"].toFixed(3);
                    break;
                case "kow_wph":
                    // Gets logD value
                    value["logD"] = data[0]["logD"]["logD"].toFixed(3);
                    break;
            }
    }
    return value;
}


function getPchemData(params, callback) {
    $.ajax({
      url : params.url,
      type : params.type,
      data : params.data,
      dataType : params.dataType,
      success : function(data) {
        var data = jsonRepack(data);
        callback(data);
      },
      error : function(jqXHR, textStatus, errorThrown) {
        callback("Fail");
      },
    });
}


function getProperName(prop) {
    //returns "proper" form of property name
    //e.g., "ion_con" returns "Ionization Constant"
    switch(prop) {
        case "ion_con":
            return "Ionization Constant";
        case "kow_no_ph":
            // return "Octanol/Water Partition Coefficient";
            return "logP";
        case "kow_wph":
            // return "Octanol/Water Partition Coefficient with pH";
            return "logD";
        default:
            return null;
    }
}


function jsonRepack(jsonobj) {
  return JSON.parse(JSON.stringify(jsonobj));
}


</script>

<div id="cont">
    <div id="center-cont">
        <!-- the canvas container -->
        <div id="infovis"></div>    
    </div>
    <div id="log"></div>
</div>

<script type="text/javascript">
init();
</script>