<!-- reaction pathway sim inputs tab for gentrans workflow -->

<div class="input_table tab tab_ReactionPathSim" style="display:none;">

	<!-- First Selection Options -->
	<div id="reactsim-options-1" class="reactsim-options">
		<input type="radio" id="radio1" name="radio"><label for="radio1">Reaction System Guidelines</label>
		<input type="radio" id="radio2" name="radio" checked="checked"><label for="radio2">OCSPP Guidelines</label>
		<input type="radio" id="radio3" name="radio"><label for="radio3">Manual (advanced)</label>
	</div>
	
</div>