<script type="text/javascript">

$(document).ready(function() {

    var checkedCalcsAndProps = {{checkedCalcsAndProps}};
    var structure = "{{structure}}";
    var url = "/cts/portal";
    var ws = ""; // web service to direct to (jchem or test et al.)
    var jchemService = ""; // particular service to execute within jchem
    var calcPropData;

    // addChemaxonData_preAsync({{chemaxonData}});

    for (var calc in checkedCalcsAndProps) {
        if (checkedCalcsAndProps.hasOwnProperty(calc)) {

            for (var i = 0; i < checkedCalcsAndProps[calc].length; i++) {

                var prop = checkedCalcsAndProps[calc][i];
                var calcPropData = {"chemical": structure, "calc": calc, "prop": prop};

                if (calc == "chemaxon") {
                    calcPropData.ws = "jchem";
                    calcPropData.service = "getPchemProps";
                    if (prop == "kow_wph") {
                        calcPropData.ph = {{kow_ph}};
                    }
                }
                else {
                    calcPropData.ws = "test";
                }

                var tblCell = $('.' + calc + '.' + prop);
                $(tblCell).html('<img src="/static/images/loader.gif" height="20" width="20" />');

                makeTheCall(url, calcPropData);
                // makeTheCall(calcPropData, responseHandler);
            }
        }
    }

});


function makeTheCall(url, calcPropData) {
    $.ajax({ 
        url: url,
        type: "POST",
        dataType: "json",
        data: calcPropData,
        // tryCount: 0,
        // retryLimit: 3,
        success: function(data) {
            responseHandler(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        }
    });
}


function responseHandler(response) {
    //map response to pchemprop output table:

    if (response.hasOwnProperty('error')) {
        $('.' + response['calc'] + '.' + response['prop']).html(response['error']);
        return;
    }

    // TODO: Finish retries feature once server 6 is back up and runing
    // if (response['data'] == -9999) {
    //     var calcPropData = {"calc": response['calc'], "prop": response['prop']}
    //     makeTheCall()
    // }

    $('.' + response['calc'] + '.' + response['prop']).html(organizeData(response['data']));
}


function organizeData(data) {
    // organizes data, namely if it's
    // more than a single value

    if (typeof data === "number") {
        return data;
    }

    var parsedData = "";
    for (item in data) {
        if (data.hasOwnProperty(item)) {
            var itemVals = data[item];
            if (itemVals.length == 0) {
                parsedData += '<div>' + item + ': none</div>';
            }
            else {
                for (var i = 0; i < itemVals.length; i++) {
                    var label = item + String(i).sub() +  ': ';
                    parsedData += '<div>' + label + itemVals[i] + '</div>';
                }
            }
        }
    }
    return parsedData;
}


// function addChemaxonData_preAsync(chemaxonDict) {
//     // after templating the pchemprop output table to reuse
//     // the pchemprop input table code, the chemaxon data has
//     // to be added to the table dynamically

//     for (var prop in chemaxonDict) {
//         if (chemaxonDict.hasOwnProperty(prop)) {
//             console.log(prop);
//             var data = JSON.stringify(chemaxonDict[prop]);
//             console.log(data);
//             $('.chemaxon.' + prop).html(data);
//         }
//     }

// }

</script>