<!-- ### JIT REFERENCES ### -->
<!-- CSS Files -->
<link type="text/css" href="/static/stylesheets/style_gentrans_tree.css" rel="stylesheet" />
<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->
<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="/static/stylesheets/Jit/jit.js"></script>
<!-- ### END JIT REFERENCES ### -->

<script type="text/javascript" src="/static/stylesheets/jquery-ui.js"></script>

<script>
var labelType, useGradients, nativeTextSupport, animate;

(function() {
  var ua = navigator.userAgent,
      iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
      typeOfCanvas = typeof HTMLCanvasElement,
      nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
      textSupport = nativeCanvasSupport 
        && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
  //I'm setting this based on the fact that ExCanvas provides text support for IE
  //and that as of today iPhone/iPad current text support is lame
  labelType = (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
  nativeTextSupport = labelType == 'Native';
  useGradients = nativeCanvasSupport;
  animate = !(iStuff || !nativeCanvasSupport);

})();

var Log = {
  elem: false,
  write: function(text) {
    if (!this.elem) 
      this.elem = document.getElementById('log');
    this.elem.innerHTML = text;
    this.elem.style.left = (500 - this.elem.offsetWidth / 2) + 'px';
  }

};


$(document).ready(function() { 

    //"wait" cursor during ajax events
    $(document).ajaxStart(function () {
        $('body').addClass('wait');
    }).ajaxComplete(function () {
        $('body').removeClass('wait');
    });

    $('#tabs').click(function(event) {
        tabDisplayLogic(event);
    });

    // Get Data button for gathering pchem props for node:
    $('#btn-pchem-getdata').click(function() {
        newGetPchemData();
        // getPchemData();
    });

    // Collapses/expands content below table header row (th).
    // Used for popup data table for gentrans output
    $('#tabs-1').on('click', 'table th', function() {
        $(this).parent().nextUntil('tr.header').toggle();
    });

});


var currentNode; //#####keeps up with selected node######


function toggleHeaders() {
    $(this).parent().nextUntil('tr.header').toggle();
}


function init(){

    //init data
    var json = $.parseJSON($('#hiddenJson').val());

    // json = $.grep(json, function(n) { return(n) });

    //attempt at fixing "child-parent" problem. maybe not the best..worked though
    newChilds = [];
    for (var i in json['children']) {
        if (json['children'][i].hasOwnProperty('id')) {
            newChilds.push(json['children'][i]);
        }
    }
    delete json['children']; //delete children element
    json.children = newChilds; //replace with array with valid ids

    // smallest everthing-visible size
    // var nodeHeight = 192;
    // var nodeWidth = 150;
    // pending thumbnail size (may go smaller)
    var nodeHeight = 114;
    var nodeWidth = 100;
    
    //init Spacetree
    //Create a new ST instance
    var st = new $jit.ST({
        //id of viz cont element
        injectInto: 'infovis',

        offsetX: 300, //TODO: make more general, i.e., dependent on canvas size
        // offsetY: 400,

        levelsToShow: 4, //# of levels at load and when clicking a node

        //set duration for the animation
        duration: 500,
        //set animation transition type
        transition: $jit.Trans.Quart.easeInOut,
        //set distance between node and its children
        levelDistance: 50,
        //enable panning
        Navigation: {
          enable: true,
          panning: true
          // zooming: 50
        },
        //set node and edge styles
        //set overridable=true for styling individual
        //nodes or edges
        Node: {
            // height: 20,
            // width: 60,
            overridable: true, //set styles for nodes individually 
            height: nodeHeight,
            width: nodeWidth,
            type: 'none'
            // color: '#aaa',
        },
        
        Edge: {
            type: 'bezier',
            overridable: true,
            color: '#1a1a1a'
        },
        
        onBeforeCompute: function(node){
            // Log.write("loading " + node.name);
            Log.write("loading...");
        },
        
        onAfterCompute: function(){
            Log.write("");
        },
        
        //This method is called on DOM label creation.
        //Use this method to add event handlers and styles to
        //your node.
        onCreateLabel: function(label, node){
            label.id = node.id;            
            label.innerHTML = node.name;
            label.onclick = function(){
                // st.onClick(node.id);
                st.onClick(node.id, {
                    Move: {
                        enable: false
                    }
                });
            };
            //set label styles
            var style = label.style;
            // style.width = 60 + 'px';
            // style.height = 17 + 'px';        
            style.cursor = 'pointer';
            style.color = '#333';
            style.fontSize = '0.8em';
            style.textAlign= 'center';
            style.paddingTop = '3px';
        },
        
        //This method is called right before plotting
        //an edge. It's useful for changing an individual edge
        //style properties before plotting it.
        //Edge data proprties prefixed with a dollar sign will
        //override the Edge global style properties.
        onBeforePlotLine: function(adj){
            if (adj.nodeFrom.selected && adj.nodeTo.selected) {
                adj.data.$color = "#eed";
                adj.data.$lineWidth = 3;
            }
            else {
                delete adj.data.$color;
                delete adj.data.$lineWidth;
            }
        },

        // Tips: {
        //     enable: true,
        //     type: 'auto',
        //     onShow: function(tip, node) {
        //         tip.innerHTML = node.data.html; //shows metabolite table info
        //     }
        // },

        Events: {
            enable: true,

            onRightClick: function(node, eventInfo, e) {

                currentNode = node; //###################################
                getMolecularInfo(node);

            }
        }
    });
    //load json data
    st.loadJSON(json);
    //compute node positions and layout
    st.compute();
    //optional: make a translation of the tree
    // st.geom.translate(new $jit.Complex(-200, 0), "current");
    //emulate a click on the root node.
    st.onClick(st.root);
    //end

}


function getMolecularInfo(node) {

    //Get molecular info upon right-clicking a metabolite
    //on the gentrans tree structure output

    $('.node').children().removeClass("selectedMetabolite"); //unhighlight nodes

    if ($('#tabs-1').has('p').length > 0) {
        $('#tabs-1').children('p').remove(); //remove initial paragraph
    }

    //Deals with hiding/showing metabolite info
    if ($('#tabs-1').has('div.nodeWrapDiv').length > 0) {
        
        $('#tabs-1 div.nodeWrapDiv').hide(); //has node info already..hide it

        //check if data already exist for requested node:
        if ($('#tabs-1:has(div#' + node.id + '_div)').length > 0) {
            $('#tabs-1 div#' + node.id + '_div').show(); //show existing node data
            $("#" + node.id).children().toggleClass("selectedMetabolite"); //highlight node
            return;
        }
    }

    $('#tabs-1').append(node.data.html); //add metabolite info to table
    $('#' + node.id + "_table tr:contains('smiles')").remove(); //remove smiles key/value (assuming first key/value)
    // $('#' + node.id + '_table tr:eq(1)').empty(); //remove smiles key/value (assuming first key/value)

    var acceptedKeys = ['smiles', 'mass', 'name', 'formula', 'iupac'];

    //Append molecular info to table:
    makeAjaxCall(getChemDeatsObj(node.data.smiles), function(chemResults) {

        data = chemResults.data[0];

        //Add molecular info to table:
        $('#' + node.id + '_table').prepend('<tr class="header"><th colspan="2">Molecular Information</th></tr>');
        for (key in data) {
            if ($.inArray(key, acceptedKeys) >= 0) {
                var newRow = '<tr><td>';
                newRow += key + '</td><td>';
                newRow += data[key] + '</td></tr>';
                $('#' + node.id + '_table tr:first').after(newRow);
                $("#" + node.id).children().toggleClass("selectedMetabolite"); //highlight node
            }
        }

        $("#" + node.id).children().toggleClass("selectedMetabolite"); //highlight node

    });
}


function tabDisplayLogic(event) {
    //if menu bar is clicked, hide children!
    var target = $(event.target); //element that fired original click event
    if ($(target).hasClass('ui-tabs-nav')) {

        var divs = $('#tabs').children('.ui-tabs-panel'); //get div elements to hide/show
        var selectedDiv;

        //using li's, get aria-selected=true and get div with id from aria-controls 
        $('ul.ui-tabs-nav li').each(function() {
            var selected = $(this).attr('aria-selected');
            if (selected == "true") {
                var divID = $(this).attr('aria-controls'); //get selected tab's div
                selectedDiv = $('div#' + divID);
            }
        });
        
        var bothHid = 1; // 1 - both divs are hidden
        $(divs).each(function() {
            if ($(this).is(':visible')) {
                bothHid *= 0;
            }
            else {
                bothHid *= 1;
            }
        });

        if (bothHid) {
            $(selectedDiv).show();                
        }
        else {
            $(divs).hide();
        }

    }
}


function newGetPchemData() {
    /* 
    This function does what getPchemData() does, but
    the idea for this new function is to get the data and
    populate it in the pchemprop table and not draw another
    segment for the metabolite table in the "metabolite info" tab
    */

    //Call pchemprop_model at "Get data" button click? Is this possible?

    var acceptedKeys = ['smiles', 'mass', 'formula', 'iupac']; //$$$$$$$$$$$$$$$$$$$
    var params = {"data":{}}; //POST data for pchemprops_model call

    //Gets smiles, mass, iupac, and formula from metabolite
    for (i in acceptedKeys) {
        key = acceptedKeys[i];
        var value = $('#tabs-1 td:contains(' + key + ')');
        params["data"][key] = $(value).next().text();
    }

    //Return if no metabolite selected, i.e., null smiles, mass, etc. values
    //"Must select (right-click) a metabolite first to get pchemprops"
    if (params["data"]["smiles"] == "") {
        //display error message near button
        $('.gentransError').show();
        return;
    }
    else {
        $('.gentransError').hide();
    }

    var allCheckBoxes = $('#pchemprop_table input:checkbox');

    $(allCheckBoxes).each(function() {
        params["data"][this.name] = this.checked;
    });

    // params["data"]["chem_struct"] = $("#tabs-1 td:contains('smiles')").next().text(); //smiles string
    // params["data"]["chem_struct"] = $("table#" + currentNode.id + "_table td:contains('smiles')").next().text(); //smiles string

    params["data"]["chem_struct"] = currentNode.data['smiles'];

    params["url"] = "/jchem-cts/ws/getpchemprops/"; //calls pchemprop model
    params["type"] = "POST";
    // params["contentType"] = "application/json";
    params["dataType"] = "json";

    makeAjaxCall(params, function(pchemResults) {

        var chemaxonMethods = ["KLOP", "VG", "PHYS"]; //calculation methods for chemaxon
        // var tableID = '#' + node.id + '_table'; //table id

        // var tableID = '#tabs-1 table';
        var tableID = 'table#' + currentNode.id + '_table';
        var table = $(tableID); //table element
        // var mainDiv = $(tableID).parent(); //popup container div
        var newRow = ""; //str var for building rows
        var rowWithMethods = ""; //for handling rows with methods

        // Skip if pchemprops already exist:
        // var hasPchemProps = false;
        // $(tableID + ' th').each(function() {
        //     if($(this).text().indexOf('p-Chem Properties') >= 0) {
        //         hasPchemProps = true;
        //     }
        // });
        // if (hasPchemProps) return; //abort if there are already pchemprops for metabolite

        // if (!("length" in table) || table.length <= 0) return; //abort if table not selected

    });
 
}


function getChemDeatsObj(chemical) {
  var params = new Object();
  params.url = "/jchem-cts/ws/getChemDeats/";
  params.type = "POST";
  params.contentType = "application/json";
  params.dataType = "json";
  params.data = { "chemical" : chemical };
  return params;
}


function getValuesFromData(calc, prop, data) {
    //+++++++++++++++++++++++++++++++++++++++
    //grabs values out of data dict based on
    //the calculator and property
    //+++++++++++++++++++++++++++++++++++++++
    var value = {};
    switch(calc) {
        case "chemaxon":
            switch(prop) {
                case "ion_con":
                    // Gets pka and pkb values
                    value["Ionization Constant"] = {};
                    var pka = data[0]["pKa"]["mostAcidic"];
                    for (val in pka) {
                        pka[val] = pka[val].toFixed(3); //round pka values
                    }
                    var pkb = data[0]["pKa"]["mostBasic"];
                    for (val in pkb) {
                        pkb[val] = pkb[val].toFixed(3); //round pka values
                    }
                    value["Ionization Constant"]["pka"] = pka;
                    value["Ionization Constant"]["pkb"] = pkb;
                    break;
                case "kow_no_ph":
                    // Gets logP value
                    value["logP"] = data[0]["logP"]["logpnonionic"].toFixed(3);
                    break;
                case "kow_wph":
                    // Gets logD value
                    value["logD"] = data[0]["logD"]["logD"].toFixed(3);
                    break;
            }
    }
    return value;
}


function makeAjaxCall(params, callback) {
    $.ajax({
      url : params.url,
      type : params.type,
      data : params.data,
      dataType : params.dataType,
      success : function(data) {
        var data = jsonRepack(data);
        callback(data);
      },
      error : function(jqXHR, textStatus, errorThrown) {
        callback("Fail");
      },
    });
}


function getProperName(prop) {
    //returns "proper" form of property name
    //e.g., "ion_con" returns "Ionization Constant"
    switch(prop) {
        case "ion_con":
            return "Ionization Constant";
        case "kow_no_ph":
            // return "Octanol/Water Partition Coefficient";
            return "logP";
        case "kow_wph":
            // return "Octanol/Water Partition Coefficient with pH";
            return "logD";
        default:
            return null;
    }
}


function jsonRepack(jsonobj) {
  return JSON.parse(JSON.stringify(jsonobj));
}


//note: could use tooltips to help user navigate gentrans output
// function tipit() {
//     // Using qtip2 for tooltip
//     $('.chemspec_molecule').each(function() {
//         $(this).qtip({
//             content: {
//                 text: $(this).next('.tooltiptext')
//             },
//             style: {
//                 classes: 'qtip-light'
//             },
//             position: {
//                 my: 'bottom center',
//                 at: 'center right',
//                 target: 'mouse'
//             }
//         });
//     });
// }

</script>


<div id="cont">
    <div id="center-cont">
        <!-- the canvas container -->
        <div id="infovis"></div>    
    </div>
    <div id="log"></div>
</div>


<script type="text/javascript">
init();
</script>

