<table class="input_table tab tab_ChemCalcs" style="display:none">
	<tr>
		<th></th>
		<th><input id="id_chemaxon_select" name="chemaxon" type="checkbox">ChemAxon</th>
		<th><input id="id_epi_select" name="epi" type="checkbox">EPI Suite</th>
		<th><input id="id_test_select" name="test" type="checkbox">TEST</th>
		<th><input id="id_sparc_select" name="sparc" type="checkbox">SPARC</th>
	</tr>
	<tr>
		<th><input id="id_all" name="melting_point" type="checkbox"><span>All</span></th>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
