<!-- <script type="text/javascript" src="/static/stylesheets/scripts_poll.js"></script> -->
<!-- <script type="text/javascript" src="/static/stylesheets/scripts_sse.js"></script> -->

<script type="text/javascript">
$(document).ready(function() {

    var checkedCalcsAndProps = {{newWayDict}};
    for (var calc in checkedCalcsAndProps) {
        if (checkedCalcsAndProps.hasOwnProperty(calc) && calc != "chemaxon") {

            for (var i = 0; i < checkedCalcsAndProps[calc].length; i++) {

                //could also be methods in here=
                var prop = checkedCalcsAndProps[calc][i];
                var calcPropData = {"calc": calc, "prop": prop};

                //add loader.gif to cell:
                var tblCell = $('.' + calc + '.' + prop);
                $(tblCell).html('<img src="/static/images/loader.gif" height="20" width="20" />');

                makeTheCall(calcPropData, function(response) {
                    //map response to pchemprop output table:
                    console.log(response);
                    $('.' + response['calc'] + '.' + response['prop']).html(response['data']);
                });
            }
        }
    }

});


function makeTheCall(calcPropData, callback) {
    $.ajax({ 
        url: "/test_cts/data/",
        type: "POST",
        dataType: "json",
        data: calcPropData,
        success: function(data) {
            callback(data); //return data to caller
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert("An Error occured. Check console for more information.");
            console.log(errorThrown);
        }
    });
}

</script>

<!-- <div type="hidden" id="loading"> -->
    <!-- <img src="/static/images/loader.gif" /> -->
<!-- </div> -->

<!-- pchemprop output table -->
<table id="pchempropOutputTable">

    <tr>
    <th></th>
	<th>ChemAxon</th>
	<th>EPI Suite</th>
	<th>TEST</th>
	<th>SPARC</th>
    <th>Measured</th>
    <!-- <th>Average</th> -->
    </tr>


    <!-- MELTING POINT -->
    <tr>
    <td style="padding:4px;">Melting Point (&degC)</td>
    <td class="melting_point chemaxon"></td>
    <td class="melting_point epi"></td>
    <td class="melting_point test"></td>
    <td class="melting_point sparc"></td>
    <td class="melting_point measured"></td>
    <!-- <td>{{data.avg.melting_point|default:""}}</td> -->
    </tr>


    <!-- BOILING POINT -->
    <tr>
    <td style="padding:4px;">Boiling Point (&degC)</td>
    <td class="boiling_point chemaxon"></td>
    <td class="boiling_point epi"></td>
    <td class="boiling_point test"></td>
    <td class="boiling_point sparc"></td>
    <td class="boiling_point measured" style="padding:4px;"></td>
    <!-- <td>{{data.avg.boiling_point|default:""}}</td> -->
    </tr>


    <!-- WATER SOLUBILITY -->
    <tr>
    <td style="padding:4px;">Water Solubility (mg/L)</td>
    <td class="water_sol chemaxon" style="padding:4px;">{{data.chemaxon.water_sol|default:""}}</td>
    <td class="water_sol epi" style="padding:4px;"></td>
    <td class="water_sol test"></td>
    <td class="water_sol sparc"></td>
    <td class="water_sol measured" style="padding:4px;"></td>
    <!-- <td>{{data.avg.water_sol|default:""}}</td> -->
    </tr>


    <!-- VAPOR PRESSURE -->
    <tr>
    <td style="padding:4px;">Vapor Pressure (mmHg)</td>
    <td><!--chemaxon--></td>
    <td class="vapor_press epi" style="padding:4px;"></td>
    <td class="vapor_press test"></td>
    <td class="vapor_press sparc"></td>
    <td class="vapor_press measured" style="padding:4px;"></td>
    <!-- <td>{{data.avg.vapor_press|default:""}}</td> -->
    </tr>


    <!-- MOLECULAR DIFFUSIVITY -->
    <tr>
    <td style="padding:4px;">Molecular Diffusivity (cm<sup>2</sup>/s)</td>
    <td><!--chemaxon--></td>
    <td class="mol_diss epi"><!--epi--></td>
    <td><!--test--></td>
    <td><!--sparc--></td>
    <td class="mol_diss measured" style="padding:4px;"></td>
    <!-- <td>{{data.avg.mol_diss|default:""}}</td> -->
    </tr>


    <!-- IONIZATION CONSTANT -->
    <tr>
    <td style="padding:4px;">Ionization Constant</td>
    <td class="ion_con test">
    <div class="ion_con pchemCell">
    {%if data.chemaxon.ion_con%}
        pKa: 
        {% for item in data.chemaxon.ion_con.pKa %} 
        	{{item|default:""}}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    {%endif%}
    </div>
    <div class="pchemCell">
    {%if data.chemaxon.ion_con%}
        pKb:
        {% for item in data.chemaxon.ion_con.pKb %} 
        	{{item|default:""}}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    {%endif%}
    </div>
    </td>
    <td class="ion_con epi"><!--epi--></td>
    <td><!--test--></td>
    <td></td>
    <td><!-- measured --></td>
    <!-- <td>{{data.avg.ion_con|default:""}}</td> -->
    </tr>


    <!-- HENRY'S LAW CONSTANT -->
    <tr>
    <td style="padding:4px;">Henry's Law Constant (atm-m<sup>3</sup>/mol)</td>
    <td><!--chemaxon--></td>
    <td class="henrys_law_con epi" style="padding:4px;"></td>
    <td class="henrys_law_con test"></td>
    <td><!--sparc--></td>
    <td class="henrys_law_con measured"></td>
    <!-- <td>{{data.avg.henrys_law_con|default:""}}</td> -->
    </tr>


    <!-- OCTANOL/WATER PARTITION COEFFICIENT -->
    <tr>
    <td style="padding:4px;">Octanol/Water Partition Coefficient</td>
    <td class="kow_no_ph chemaxon">
    {% for key, val in data.chemaxon.kow_no_ph.items %}
    	<div class="pchemCellWrap">
    	<div class="pchemCell">{{key|default:""}}</div>
    	{% for item in val %}
    		<div class="pchemCell">{{item|default:""}}</div>
    	{% endfor %}
    	</div>
    {% endfor %}
    </td>
    <td class="kow_no_ph epi" style="padding:4px;"></td>
    <td><!--test--></td>
    <td></td>
    <td><!-- measured --></td>
    <!-- <td>{{data.avg.kow_no_ph|default:""}}</td> -->
    </tr>


    <!-- OCTANOL/WATER PARTITION COEFFICIENT AT PH -->
    <tr>
    <td style="padding:4px;">Octanol/Water Partition Coefficient at pH {{kow_ph}}</td>
    <td class="kow_ph chemaxon">
    {% for key, val in data.chemaxon.kow_wph.items %}
    	<div class="pchemCellWrap">
    	<div class="pchemCell">{{key|default:""}}</div>
    	{% for item in val %}
    		<div class="pchemCell">{{item|default:""}}</div>
    	{% endfor %}
    	</div>
    {% endfor %}
    </td>
    <td class="kow_ph epi"><!--epi--></td>
    <td><!--test--></td>
    <td></td>
    <td><!-- measured --></td>
    <!-- <td>{{data.avg.kow_wph|default:""}}</td> -->
    </tr>


    <!-- ORGANIC CARBON PARTITION COEFFICIENT -->
    <tr>
    <td style="padding:4px;">Organic Carbon Partition Coefficient</td>
    <td><!--chemaxon--></td>
    <td class="koc epi"></td>
    <td><!--test--></td>
    <td><!--sparc--></td>
    <td><!-- measured --></td>
    <!-- <td>{{data.avg.koc|default:""}}</td> -->
    </tr>

</table>