<!-- ### JIT REFERENCES ### -->
<!-- CSS Files -->
<link type="text/css" href="/static/stylesheets/style_gentrans_tree.css" rel="stylesheet" />
<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->
<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="/static/stylesheets/Jit/jit.js"></script>
<!-- ### END JIT REFERENCES ### -->

<script type="text/javascript" src="/static/stylesheets/jquery-ui.js"></script>
<!-- <script type="text/javascript" src="/static/stylesheets/scripts_jchem.js"></script> -->

<script>
var labelType, useGradients, nativeTextSupport, animate;


// ########## Globals!!! #########################
var currentNode = null; //keeps up with selected node
var genMax = {{ gen_max }};  // max generation limit
var st = null; //spacetree instance globalized
var st_array = []; // array of spacetree instances (batch)
var json = null;  // spacetree json
var nodeList = null; //list of # of nodes per depth
var nodeHeight = 114; //default node height (image)
var nodeWidth = 100; //default node width (image)
var block_ui = false; // blocking UI load window boolean
var arrow_html = '<div id="arrow_wrap"><img class="reactpath_arrow" src="/static/images/arrow-right.jpg"/></div>';
// ################################################

(function() {
  var ua = navigator.userAgent,
      iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
      typeOfCanvas = typeof HTMLCanvasElement,
      nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
      textSupport = nativeCanvasSupport 
        && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
  //I'm setting this based on the fact that ExCanvas provides text support for IE
  //and that as of today iPhone/iPad current text support is lame
  labelType = (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
  nativeTextSupport = labelType == 'Native';
  useGradients = nativeCanvasSupport;
  animate = !(iStuff || !nativeCanvasSupport);

    json = "";
    nodeList = null;
    st = null;

})();

var Log = {
  elem: false,
  write: function(text) {
    if (!this.elem) 
      this.elem = document.getElementById('log');
    this.elem.innerHTML = text;
    this.elem.style.left = (500 - this.elem.offsetWidth / 2) + 'px';
  }

};

//"wait" cursor during ajax events
// NOTE: calls_tracker from pchemprop ajax calls file
// $(document).ajaxStart(function () {
//     if (block_ui) {
//         blockInterface(true);
//     }
//     $('body').addClass('wait');
// }).ajaxComplete(function () {
//     if (calls_tracker == 0) {
//         blockInterface(false);
//         $('body').removeClass('wait');
//         block_ui = false; // reset
//     }
// });

$('#tabs').click(function(event) {
    tabDisplayLogic(event);
});

// Collapses/expands content below table header row (th).
// Used for popup data table for gentrans output
$('#tabs-1').on('click', 'table th', function() {
    $(this).parent().nextUntil('tr.header').toggle();
});

// $('#gen-select').change(function() {
//     var genLevel = $(this).find('option:selected').val();
//     var parsedNodeList = nodeList.slice(0, parseFloat(genLevel) + 1);
//     st.config.levelsToShow = genLevel;
//     // resizeCanvas(parsedNodeList);  // change canvas height
//     st.select(st.root);
// });

// Get Data button for gathering pchem props for node:
$('#btn-pchem-getdata').click(function () {

    checkedCalcsAndProps = buildCheckedCalcsAndProps();  // get current data

    kowPH = $('#id_kow_ph').val();

    if (socket) {
        socket.disconnect();
    }
    connectToSocket(); // cts_pchemprop_ajax_calls

    //Check  #gen-select-pchem value to determine how
    //many nodes to get pchemprops for:
    var genLevel = $('#gen-select-pchem')[0].selectedIndex;
    // var genLevel = parseFloat($('#gen-select-pchem').find('option:selected').val());

    var selected_product = $('#mol-info-wrapper').is(':visible');
    if (!selected_product && genLevel == 0) {
        $('.gentransError').show();
        return;
    }
    else {
        $('.gentransError').hide();
    }

    if (genLevel == 0) {
        total_calls = calculateTotalCalls([1], checkedCalcsAndProps);
        console.log("starting with " + total_calls + " calls");
        calls_tracker = total_calls;
        node = currentNode;
        // getPchemData(currentNode, checkedCalcsAndProps, kowPH); // pchemprops only for selected metabolite..
        startPchemPropDataCollection(node.data.smiles, checkedCalcsAndProps, kowPH, node, currentNode);
        return;
    }

    var parsedNodeList = nodeList.slice(0, parseFloat(genLevel) + 1);  // num nodes/depth up to genLevel

    blockInterface(true);

    total_calls = calculateTotalCalls(parsedNodeList, checkedCalcsAndProps);  // get total calls (pchemprop_ajax global)
    console.log("starting with " + total_calls + " calls");
    calls_tracker = total_calls;

    var st_nodes = st.graph.nodes;  // actual nodes from spacetree
    var nodes = [];

    for (node in st_nodes) {
        // only get data up to selected generation limit:
        if (st_nodes[node]._depth < parsedNodeList.length) {
            st_nodes[node].data['id'] = st_nodes[node].id;  // add node id to node data
            nodes.push(st_nodes[node].data);
        }
    }

    startPchemPropDataCollection(smiles, checkedCalcsAndProps, kowPH, node, currentNode, nodes);

});


// Right-click mol info image >> focus page on metabolite in tree:
// TODO: Doesn't always focus right on node like it should :(
$('#mol-info-wrapper').on('mouseup', 'img.metabolite', function (e) {
    if (e.which == 3) {
        var nodePos = Math.abs(currentNode.pos.y); // scroll to height of selected metabolite, convert to int
        var treePos = $('#cont').offset().top;
        var scrollPos = nodePos + treePos;
        $(window).scrollTop(scrollPos);
    }
});

// Prevent right-click menu if clicked on mol info or spacetree div:
$('#metaboliteInfo, #cont').on('contextmenu', function (e) {
    return false;
});


function toggleHeaders() {
    $(this).parent().nextUntil('tr.header').toggle();
}


function addPchemDataToNode(node, pchem_data) {
    var node_index = "";
    for (node_index in st.graph.nodes) {
        var some_node = st.graph.nodes[node_index];
        // if (some_node.id === node.id) {
        if (some_node.data.genKey == node.genKey) {
            if (!('pchemprops' in some_node.data)) {
                some_node.data.pchemprops = [];
            }
            
            delete pchem_data.node;

            for (pchemprop_obj in some_node.data.pchemprops) {
                if (Object.is(some_node.data.pchemprops[pchemprop_obj], pchem_data)) {
                    return;
                }
            }

            some_node.data.pchemprops.push(pchem_data);

            $("#" + some_node.id).children('img')
                .addClass("hasPchemProps"); // highlight nodes
        }
    }
}


function addGenKey(jsonObj, json) {
    /* Adds genKey to node data. genKey is
     * the numbering scheme for metabolites that
     * identifies its depth and origin
     * returns: list of tot num of nodes per depth*/
    var depthList = new Array(genMax + 2).join('0').split('').map(parseFloat);  // array of 0's size of genMax
    var numNodesPerDepth = new Array(genMax + 2).join('0').split('').map(parseFloat);
    jsonObj.eachLevel(json, 0, genMax, function(node, depth) {
        depthList[depth] += 1;
        numNodesPerDepth[depth] += 1;  // tracking total nodes/depth
        var key = "";
        if (depth == 0) { key = "1"; }
        else {
            key = "1.";
            for (var i = 1; i <= depth; i++) {
                key += depthList[i] + ".";
            }
            if (depthList[depth + 1] > 0) {
                depthList[depth + 1] = 0;
            }
            key = key.replace(/.\s*$/, '');  //cast thine trailing .'s aside
        }
        node.data.genKey = key;
    });
    return numNodesPerDepth;
}


function init(json){

    //init data
    // json = $.parseJSON($('#hiddenJson').val());

    //attempt at fixing "child-parent" problem. maybe not the best..worked though
    var newChilds = [];
    for (var i in json['children']) {
        if (json['children'][i].hasOwnProperty('id')) {
            newChilds.push(json['children'][i]);
        }
    }
    delete json['children']; //delete children element
    json.children = newChilds; //replace with array with valid ids

    //Create a new ST instance
    st = new $jit.ST({
        //id of viz cont element
        injectInto: 'infovis',

        // offsetX: 350, //TODO: make more general, i.e., dependent on canvas size
        // offsetY: 400,
        offsetX: 200,

        constrained: false,
        levelsToShow: 1,  // show all 'dem levels

        //set duration for the animation
        duration: 500,
        transition: $jit.Trans.Quart.easeInOut,  //set animation transition type
        levelDistance: 50,  //set distance between node and its children (default: 30)
        Navigation: {
          enable: true,
          panning: true,
          zooming: 50
        },
        //set node and edge styles
        //set overridable=true for styling individual
        //nodes or edges
        Node: {
            overridable: true, //set styles for nodes individually 
            height: nodeHeight,
            width: nodeWidth,
            // type: 'none'
        },
        
        Edge: {
            type: 'bezier',
            overridable: true,
            color: '#1a1a1a'
        },

        // Label: {
        //     type: 'SVG'
        // },
        
        onBeforeCompute: function(node){
            // Log.write("loading " + node.name);
            Log.write("loading...");
        },
        
        onAfterCompute: function(){
            Log.write("");
        },


        // adding node image adjustment when zooming:
        onMouseWheel: function (delta, e) {
            setLabelScaling();
        },
        onBeforePlotNode: function () {
            setLabelScaling();
        },
        
        //This method is called on DOM label creation.
        //Use this method to add event handlers and styles to
        //your node.
        onCreateLabel: function(label, node){

            // var name = document.createTextNode(node.name);  // svg stuff
            // label.firstChild.appendChild(name);  // svg stuff

            label.id = node.id;            
            label.innerHTML = node.name;

            label.onclick = function(){
                // st.onClick(node.id);
                st.onClick(node.id, {
                    Move: {
                        enable: false
                    }
                });
            };

        },

        //This method is called right before plotting
        //an edge. It's useful for changing an individual edge
        //style properties before plotting it.
        //Edge data proprties prefixed with a dollar sign will
        //override the Edge global style properties.
        onBeforePlotLine: function(adj){
            if (adj.nodeFrom.selected && adj.nodeTo.selected) {
                adj.data.$color = "#eed";
                adj.data.$lineWidth = 3;
            }
            else {
                delete adj.data.$color;
                delete adj.data.$lineWidth;
            }
        },

        Tips: {
            enable: true,
            type: 'auto',
            onShow: function(tip, node) {

                var node_html_obj = $.parseHTML(node.data.html)[0];
                var node_enlarged_image = $(node_html_obj).children('div.metabolite_img');

                tip.innerHTML = '<div align="left"><b>generation: </b>' + node.data.genKey + '<br></div>';
                tip.innerHTML += '<div align="left"><b>smiles: </b>' + node.data.smiles + '<br></div>';
                tip.innerHTML += $(node_enlarged_image)[0].innerHTML;
                // tip.innerHTML += 'production: ' + node.data.production + '<br>';
                // tip.innerHTML += 'accumulation: ' + node.data.accumulation + '<br>';
            }
        },

        Events: {
            enable: true,
            onRightClick: function(node, eventInfo, e) {
                if (node) {
                    getMolecularInfo(node);
                    currentNode = node;  // set global node tracking var
                }
            },
            onClick: function (node, eventInfo, e) {
                // left click event:

                // var test = node.collapsed;

                // find node 

                if (node) {

                    var st_nodes = st.graph.nodes;  // actual nodes from spacetree
                    var node_gen = node.data.genKey;

                    $('#reactionpathways').html("");

                    for (var i = node_gen.length; i >= 0; i-=2) {
                        
                        var gen = node_gen.substring(0, i)
                        var current_node = searchForNodeByGenKey(gen, st_nodes);

                        // add image to reaction pathways div:
                        var img_obj = $.parseHTML(current_node.name.trim())[0];
                        $(img_obj).css({'height': 60, 'width': 50});
                        
                        var image_with_gen = '<div class="rp-image">' +
                        // var image_with_gen = '<div class="arrow_wrap">' + 
                                                img_obj.outerHTML + 
                                                '<p>' + current_node.data.genKey + '</p>' +
                                                '</div>';

                        $('#reactionpathways').prepend(image_with_gen);

                        if (i > 1) {
                            var routes = current_node.data.routes;
                            var arrow_obj = $.parseHTML(arrow_html);  //<div><img></div>
                            if (routes) {
                                var latest_node_route = routes.split(',').pop();
                                $(arrow_obj).append('<p>' + latest_node_route + '</p>');  // add "routes"
                            }
                            $('#reactionpathways').prepend(arrow_obj);
                        }

                    }

                }
            }
        }

    });

    // todo: have this only run once!!!
    nodeList = addGenKey($jit.json, json);  // Loops through nodes adding genKey to node.data

    //load json data
    st.loadJSON(json);
    //compute node positions and layout
    st.compute();
    //optional: make a translation of the tree
    // st.geom.translate(new $jit.Complex(-200, 0), "current");
    //emulate a click on the root node.
    st.onClick(st.root);
    // resizeCanvas(nodeList.slice(0, st.config.levelsToShow + 1), nodeHeight);
    //end

}


function searchForNodeByGenKey(genKey, nodes) {
    for (node in nodes) {
        if (nodes[node].data.genKey === genKey) {
            return nodes[node];
        }
    }
    return false;
}


function setLabelScaling() {
    var x = st.canvas.scaleOffsetX;
    var y = st.canvas.scaleOffsetY;
    $(".node").css("-moz-transform", "scale(" + x +"," +  y + ")");
    $(".node").css("-webkit-transform", "scale(" + x +"," + y + ")");
    $(".node").css("-ms-transform", "scale(" + x +"," +  y + ")");
    $(".node").css("-o-transform", "scale(" + x +"," +  y + ")");
}


function getSpaceTree() {
    if (st !== null) { return st; }
    else { return null; }
}


function resizeCanvas(nodes) {

    // TODO: Keep div same size, add scroll bars instead!

    var count = getDeepestNodeCount(nodes);
    var offset = 4 * nodeHeight;
    // need number of nodes at deepest level:
    var height = count * nodeHeight + offset;  // calculate new height
    st.canvas.resize(800, height);
    st.select(st.root);  // re-select the node to replot the tree

    // Increase size of containter divs as well:
    // $('#center-cont, #cont').height(height);

}


function getDeepestNodeCount(nodeList) {
    /* Loops through list of node count per depth,
     * returning the num of nodes at the deepest depth */
    for (var i = nodeList.length - 1; i >= 0; i--) {
        var numNodesAtDepth = nodeList[i];
        if (numNodesAtDepth > 0) {
            return numNodesAtDepth;
        }
    }
    return "error: could not find any nodes in list";
}


function getMolecularInfo(node) {

    //Get molecular info upon right-clicking a metabolite
    //on the gentrans tree structure output, and display
    //pchemprops if node has any

    // if (currentNode === node) {
    //     var scrollPos = $(molInfoDiv).offset().top;
    //     $(window).scrollTop(scrollPos);
    //     return;  // do nothing if selecting already-selected node
    // }

    var molInfo = $('#mol-info-wrapper');

    if ($(molInfo).has('p.intro-text').length > 0) {
        $(molInfo).children('p.intro-text').remove();
    }

    // Clear existing pchemprop table for new data:
    clearPchemData(); // from scripts_pchemprop..

    $('.node').children().removeClass("selectedMetabolite"); //unhighlight nodes

    // only add node image if a different node has been clicked:
    if (!currentNode || node.id != currentNode.id) {
        molInfo.children('.nodeWrapDiv').empty();  // empty existing contents
        molInfo.children('.nodeWrapDiv').append(addImageToMolInfo(node));  // add image to mol info
    }

    var molInfoDiv = $(molInfo).children('div.nodeWrapDiv');
    var molInfoTable = $(molInfo).children('table.mol-info-table');

    var product_node = $('img#' + node.id + '.metabolite[height=114]');  // node height (todo: us variable, don't hard code )

    // Check node for molecular info, download if node
    // doesn't have any:
    if (node.data.hasOwnProperty("molecularInfo")) {
        buildMolInfoTable(molInfoTable, node, node.data.molecularInfo);
        // $("#" + node.id).children('img').toggleClass("selectedMetabolite");  // highlight node
        $(product_node).toggleClass('selectedMetabolite');
        var molInfoHeader = $(molInfo).siblings('h3')[0];
        if ($(molInfoHeader).hasClass('collapse-close')) {
                $(molInfoHeader).removeClass('collapse-close').addClass('collapse-open');
        }
    }
    else {
        // add mol info to node.data.molecularInfo:
        $.ajax({
            url: '/cts/rest/molecule',
            // url: '/rest/cts/molecule',
            type: 'POST',
            data: {'chemical': node.data.smiles},
            dataType: 'json',
            success: function(data) {
                var data = jsonRepack(data);
                if (data.status == false) {
                    console.log(textStatus);
                    return;
                }
                node.data.molecularInfo = data['data'];  // add mol info to node data
                buildMolInfoTable(molInfoTable, node, data['data']);  // build mol info table

                $(product_node).addClass("selectedMetabolite");
                // $("#" + node.id).children('img').addClass("selectedMetabolite");  // highlight node

                var molInfoHeader = $(molInfo).siblings('h3')[0];
                if ($(molInfoHeader).hasClass('collapse-close')) {
                    $(molInfoHeader).removeClass('collapse-close').addClass('collapse-open');
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
              console.log(textStatus);
            }
        });
    }

    // Scroll to mol info molecule image upon right-clicked metabolite event:
    $(molInfo).show(300, function () {
        var scrollPos = $(molInfoDiv).offset().top;
        $(window).scrollTop(scrollPos);
    });

    // Check node for pchem properties, display if node has any:
    if (node.data.hasOwnProperty("pchemprops")) {
        // loop pchemprops calling parseResponseToPchemTable() (cts_pchemprop_ajax_calls)
        for (var i = 0; i < node.data.pchemprops.length; i++) {
            var response = node.data.pchemprops[i];  // "response" data
            currentNode = node;  // will only display data for currentNode
            parseResponseToPchemTable(response, node, true, true);
        }
    }

}


function addImageToMolInfo(node) {
    var nodeHTML = $.parseHTML(node.data.html);
    var nodeImage = $(nodeHTML).children('div.metabolite_img');
    return nodeImage;
}


function buildMolInfoTable(molTable, node, data) {
    var acceptedKeys = ['generation', 'smiles', 'mass', 'name', 'formula', 'iupac', 'routes'];

    // add genKey and routes from node to data:
    data['generation'] = node.data.genKey;
    data['routes'] = node.data.routes;

    //Clear existing table data..
    $(molTable).children().empty();

     //Add molecular info to table..
    $(molTable).prepend('<tr class="header"><th colspan="2">Molecular Information</th></tr>');
    for (key in data) {
        if ($.inArray(key, acceptedKeys) >= 0) {
            var newRow = '<tr><td>';
            newRow += key + '</td><td>';
            newRow += data[key] + '</td></tr>';
            $(molTable).find('tbody').append(newRow);
            $("#" + node.id).children().toggleClass("selectedMetabolite"); //highlight node
        }
    }
}


function tabDisplayLogic(event) {  
    //if menu bar is clicked, hide children!
    var target = $(event.target); //element that fired original click event
    if ($(target).hasClass('ui-tabs-nav')) {

        var divs = $('#tabs').children('.ui-tabs-panel'); //get div elements to hide/show
        var selectedDiv;

        //using li's, get aria-selected=true and get div with id from aria-controls 
        $('ul.ui-tabs-nav li').each(function() {
            var selected = $(this).attr('aria-selected');
            if (selected == "true") {
                var divID = $(this).attr('aria-controls'); //get selected tab's div
                selectedDiv = $('div#' + divID);
            }
        });
        
        var bothHid = 1; // 1 - both divs are hidden
        $(divs).each(function() {
            if ($(this).is(':visible')) { bothHid *= 0; }
            else { bothHid *= 1; }
        });

        if (bothHid) { $(selectedDiv).show(); }
        else { $(divs).hide(); }

    }
}


function displayProductData() {
    // After p-chem data for product(s) is returned,
    // this function display mol info and p-chem results
    // of either the parent if no product is displayed, or
    // the right-clicked (displayed) product if there is one

    // check if selected product exist on the frontend:
    var product_mol_info = $('table.mol-info-table')[0];

    if ($('#mol-info-wrapper').is(':visible')) {
        // get node of selected product (2nd cell value of row containing "generation"):
        var selected_product = $('.mol-info-table tr:contains(generation)').children()[1].innerHTML;

        for (node in st.graph.nodes) {
            var node_gen = st.graph.nodes[node].data.genKey;
            if (node_gen == selected_product) {
                getMolecularInfo(st.graph.nodes[node]);
                return;
            }
        }

    }
    else {
        // get node of parent molecular:
        for (node in st.graph.nodes) {
            var node_gen = st.graph.nodes[node].data.generation;
            if (node_gen == 0) {
                getMolecularInfo(st.graph.nodes[node]);
                return;
            }
        }

    }

}


function updateProgressBar(calls_tracker, total_calls) {
    var progress = 100 * (1 - (calls_tracker / total_calls));
    $('#progressbar').progressbar({
        value: progress
    });  
}


function blockInterface(block) {
    if (block) {
        $.blockUI({
            css: {
                "top": "" + wintop + "",
                "left": "" + winleft + "",
                "padding": "30px 20px",
                "width": "400px",
                "height": "150px",
                "border": "0 none",
                "border-radius": "4px",
                "-webkit-border-radius": "4px",
                "-moz-border-radius": "4px",
                "box-shadow": "3px 3px 15px #333",
                "-webkit-box-shadow": "3px 3px 15px #333",
                "-moz-box-shadow": "3px 3px 15px #333"
            },
            message: '<div id="pchem_wait"><h2 class="popup_header">Retrieving data...</h2><br><img src="/static/images/loader.gif" style="margin-top:-16px" id="load_wheel"><br><br><div id="progressbar"></div><br><input onclick="cancelRequest()" type="button" value="Cancel" id="btn-pchem-cancel"><br></div>',
            fadeIn: 500
        });
    }
    else { $.unblockUI(); }
}


function cancelRequest() {
    console.log("canceling request");
    socket.emit('get_data', JSON.stringify({'cancel': true, 'pchem_request': checkedCalcsAndProps}));
    $.unblockUI();
}


function jsonRepack(jsonobj) {
  return JSON.parse(JSON.stringify(jsonobj));
}


function handleTransformationProductsBatchRequest() {

}

</script>

<!-- <div id="cont"> -->
    <!-- <div id="center-cont"> -->
        <!-- the canvas container -->
        <!-- <div id="infovis"></div> -->
    <!-- </div> -->
    <!-- <div id="log"></div> -->
<!-- </div> -->
<!-- <div id="reactionpathways"> -->
<!-- </div> -->

<script type="text/javascript">
$(document).ready(function () {

    var hidden_json = $('#hiddenJson').val();

    if (hidden_json != null) {
        // expecting gentrans metabolites output to draw on jit canvas

        var json = $.parseJSON($('#hiddenJson').val());
        var parent_image = $.parseHTML(json.name.trim());  // returns array of elements


        // var trimmed_json = json;
        // for (var i = 0; i < genMax; i++) {
        //     for (key in json) {
        //         trimmed_json[key] = json[key];
        //     }
        // }

        // set node height and width by getting it from parent node image (no scale popupBuilder one)
        // nodeHeight = parent_image[0].height;
        // nodeWidth = parent_image[0].width;
        nodeHeight = 114
        nodeWidth = 100

        init(json);  // paint tree to canvas

    }

    // insert parent and following arrow into reaction pathways div:
    // $(parent_image).css({'height': 60, 'width': 50});
    // $('#reactionpathways').append(parent_image);


});
</script>