
<!-- <script src="/static/stylesheets/scripts_pchemTableColors.js" type="text/javascript"></script> -->
<table id="pchemprop_table" class="input_table tab tab_ChemCalcs" style="display:none;">
	<tr>
		<th></th>
		<th><input id="id_chemaxon_select" name="chemaxon" type="checkbox" class="col_header">ChemAxon</th>
		<th><input id="id_epi_select" name="epi" type="checkbox" class="col_header">EPI Suite</th>
		<th><input id="id_test_select" name="test" type="checkbox" class="col_header" disabled>TEST</th>
		<th><input id="id_sparc_select" name="sparc" type="checkbox" class="col_header">SPARC</th>
		<th><input id="id_measured_select" name="measured" type="checkbox" class="col_header" disabled>Measured</th>
        <!-- <th>Average</th> -->
	</tr>
	<tr>
		<th><input id="id_all" name="melting_point" type="checkbox"><span>All</span></th>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
