<div id="microspecies-distribution" class="plot"></div>

<script type="text/javascript">
function plotMicroDist() {

  // var L = [{
  //   label:'Drift',
  //   color:'blue'
  // }];

  var dataArr = JSON.parse($('#microDistData1').text());

  $.jqplot ('microspecies-distribution', dataArr, {
    title: 'Microspecies Distribution',
    axes: {
      xaxis: {
        label: 'pH',
        min: 0,
        max: 14,
        tickInterval: 1
      },
    },
    seriesDefaults: {
      showMarker: false
    },
    legend: {
      show: true,
      location: 'ne',
      placement: 'inside'
    }
  });
}
</script>

<script type="text/javascript">
plotMicroDist();
</script>

