<table id="pchempropOutputTable">

    <tr>
    <th></th>
	<th>ChemAxon</th>
	<th>EPI Suite</th>
	<th>TEST</th>
	<th>SPARC</th>
    <th>Average</th>
    </tr>

    <tr>
    <td style="padding:4px;">Melting Point (&degC)</td>

    <td>{{data.chemaxon.melting_point|default:""}}</td>
    <td>{{data.epi.melting_point|default:""}}</td>

    <td>
    {% for key, val in data.test.melting_point.items %}
        <div class="pchemCellWrap">
        <div class="pchemCell">{{key}}</div>
        <div class="pchemCell">{{val}}</div>
        </div>
    {% endfor %}
    </td>

    <td>{{data.sparc.melting_point|default:""}}</td>
    <td>{{data.avg.melting_point|default:""}}</td>
    </tr>


    <!-- <td style="padding:4px;">Octanol/Water Partition Coefficient</td>
    <td>
    {% for key, val in data.chemaxon.kow_no_ph.items %}
        <div class="pchemCellWrap">
        <div class="pchemCell">{{key|default:""}}</div>
        {% for item in val %}
            <div class="pchemCell">{{item|default:""}}</div>
        {% endfor %}
        </div>
    {% endfor %}
    </td> -->

    <tr>
    <td style="padding:4px;">Boiling Point (&degC)</td>
    <td>{{data.chemaxon.boiling_point|default:""}}</td>
    <td>{{data.epi.boiling_point|default:""}}</td>
    <td>
    {% for key, val in data.test.boiling_point.items %}
        <div class="pchemCellWrap">
        <div class="pchemCell">{{key}}</div>
        <div class="pchemCell">{{val}}</div>
        </div>
    {% endfor %}
    </td>
    <td>{{data.sparc.boiling_point|default:""}}</td>
    <td>{{data.avg.boiling_point|default:""}}</td>
    </tr>

    <tr>
    <td style="padding:4px;">Water Solubility (mg/L)</td>
    <td>{{data.chemaxon.water_sol|default:""}}</td>
    <td>{{data.epi.water_sol|default:""}}</td>
    <td>
    {% for key, val in data.test.water_sol.items %}
        <div class="pchemCellWrap">
        <div class="pchemCell">{{key}}</div>
        <div class="pchemCell">{{val}}</div>
        </div>
    {% endfor %}
    </td>
    <td>{{data.sparc.water_sol|default:""}}</td>
    <td>{{data.avg.water_sol|default:""}}</td>
    </tr>

    <tr>
    <td style="padding:4px;">Vapor Pressure (mmHg)</td>
    <td>{{data.chemaxon.vapor_press|default:""}}</td>
    <td>{{data.epi.vapor_press|default:""}}</td>
    <td>
    {% for key, val in data.test.vapor_press.items %}
        <div class="pchemCell">{{key}}</div>
        <div class="pchemCell">{{val}}</div>
        <br>
    {% endfor %}
    </td>
    <td>{{data.sparc.vapor_press|default:""}}</td>
    <td>{{data.avg.vapor_press|default:""}}</td>
    </tr>

    <tr>
    <td style="padding:4px;">Molecular Diffusivity (cm<sup>2</sup>/s)</td>
    <td>{{data.chemaxon.mol_diss|default:""}}</td>
    <td>{{data.epi.mol_diss|default:""}}</td>
    <td>{{data.test.mol_diss|default:""}}</td>
    <td>{{data.sparc.mol_diss|default:""}}</td>
    <td>{{data.avg.mol_diss|default:""}}</td>
    </tr>

    <tr>
    <td style="padding:4px;">Ionization Constant</td>
    <td>
    <div class="pchemCell">
    {%if data.chemaxon.ion_con%}
        pKa: 
        {% for item in data.chemaxon.ion_con.pKa %} 
        	{{item|default:""}}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    {%endif%}
    </div>
    <div class="pchemCell">
    {%if data.chemaxon.ion_con%}
        pKb:
        {% for item in data.chemaxon.ion_con.pKb %} 
        	{{item|default:""}}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    {%endif%}
    </div>
    </td>
    <td>{{data.epi.ion_con|default:""}}</td>
    <td>{{data.test.ion_con|default:""}}</td>
    <td>{{data.sparc.ion_con|default:""}}</td>
    <td>{{data.avg.ion_con|default:""}}</td>
    </tr>

    <tr>
    <td style="padding:4px;">Henry's Law Constant (atm-m<sup>3</sup>/mol)</td>
    <td>{{data.chemaxon.henrys_law_con|default:""}}</td>
    <td>{{data.epi.henrys_law_con|default:""}}</td>
    <td>{{data.test.henrys_law_con|default:""}}</td>
    <td>{{data.sparc.henrys_law_con|default:""}}</td>
    <td>{{data.avg.henrys_law_con|default:""}}</td>
    </tr>

    <tr>
    <td style="padding:4px;">Octanol/Water Partition Coefficient</td>
    <td>
    {% for key, val in data.chemaxon.kow_no_ph.items %}
    	<div class="pchemCellWrap">
    	<div class="pchemCell">{{key|default:""}}</div>
    	{% for item in val %}
    		<div class="pchemCell">{{item|default:""}}</div>
    	{% endfor %}
    	</div>
    {% endfor %}
    </td>
    <td>{{data.epi.kow_no_ph|default:""}}</td>
    <td>{{data.test.kow_no_ph|default:""}}</td>
    <td>{{data.sparc.kow_no_ph|default:""}}</td>
    <td>{{data.avg.kow_no_ph|default:""}}</td>
    </tr>

    <tr>
    <td style="padding:4px;">Octanol/Water Partition Coefficient at pH {{kow_ph}}</td>
    <td>
    {% for key, val in data.chemaxon.kow_wph.items %}
    	<div class="pchemCellWrap">
    	<div class="pchemCell">{{key|default:""}}</div>
    	{% for item in val %}
    		<div class="pchemCell">{{item|default:""}}</div>
    	{% endfor %}
    	</div>
    {% endfor %}
    </td>
    <td>{{data.epi.kow_wph|default:""}}</td>
    <td>{{data.test.kow_wph|default:""}}</td>
    <td>{{data.sparc.kow_wph|default:""}}</td>
    <td>{{data.avg.kow_wph|default:""}}</td>
    </tr>

    <tr>
    <td style="padding:4px;">Organic Carbon Partition Coefficient</td>
    <td>{{data.chemaxon.koc|default:""}}</td>
    <td>{{data.epi.koc|default:""}}</td>
    <td>{{data.test.koc|default:""}}</td>
    <td>{{data.sparc.koc|default:""}}</td>
    <td>{{data.avg.koc|default:""}}</td>
    </tr>

</table>