<script type="text/javascript">

var kowPH; // pH for logD
var smiles, name, mass, formula, time;

var sparcPropMap = {
    "water_sol" : "SOLUBILITY",
    "vapor_press" : "VAPOR_PRESSURE",
    "mol_diss" : "WATER_DIFFUSION",
    "ion_con": "FULL_SPECIATION",
    "henrys_law_con" : "HENRYS_CONSTANT",
    "kow_no_ph" : "DISTRIBUTION",
    "kow_wph" : "LOGD",
    "boiling_point": "BOILING_POINT"
};

var jchem_methods = ['KLOP', 'PHYS', 'VG'];
var checkedCalcsAndProps; // format --> {'calc': ['checked_prop', ..], ..}
var spinner_html = '<img src="/static/images/loader.gif" id="spinner" />';
var calls_tracker = 0;

$(document).ready(function() {
    // Some global and local variable delcarations:
    checkedCalcsAndProps = {{checkedCalcsAndProps}};
    var structure = "{{structure}}";
    kowPH = "{{kow_ph}}";
    smiles = "{{structure}}";
    name = "{{name}}";
    mass = "{{mass}}";
    formula = "{{formula}}";
    time = "{{time}}";
    sparcPropMap['kow_ph'] = kowPH;
    var test_results = {{ test_results }};
    if (test_results.length > 0) {
        parseTESTResultsToTable(test_results); // load already-collected TEST data into table..
    }
    startPchemPropDataCollection(structure, checkedCalcsAndProps, kowPH, null, null); // get pchem data..
});


function isPchemWorkflow(workflow_url) {
    if (workflow_url.indexOf("pchem") > -1) { return true; }
    else { return false; }
}


function startPchemPropDataCollection(structure, checkedCalcsAndProps, kowPH, node, currentNode) {
    
    if (checkedCalcsAndProps == null) { return; }

    var sparc_props_list = [];
    var num_pchem = parseFloat($('#gen-select-pchem').val()); // number of props
    var workflow_url = window.location.href; // check if pchem or trans products workflow..

    console.log("incoming structure: " + structure);

    for (var calc in checkedCalcsAndProps) {
        if (checkedCalcsAndProps.hasOwnProperty(calc)) {

            // var sparc_post_data = { "chemical": structure, "calc": calc, "props": sparc_props_list };
            var post_data = { "chemical": structure, "calc": calc };

            // 1. Add webservice key:
            if (calc == "chemaxon") { 
                post_data.ws = "jchem";
                post_data.service = "getPchemProps";
            }
            else if (calc == "sparc") {
                post_data.ws = "sparc";
                post_data.props = sparc_props_list;
            }
            else { post_data.ws = calc; }

            for (var i = 0; i < checkedCalcsAndProps[calc].length; i++) {

                var prop = checkedCalcsAndProps[calc][i]; // p-chem property..
                var tblCell = $('.' + calc + '.' + prop); // table cell for spinner..
                var addDataToTable = false; // whether to plot on visible pchem table or not..

                // 2. Build POST data:
                if (calc == "sparc") {
                    sparc_props_list.push(prop); // build list for 1 call for all props..
                }
                else {
                    post_data['prop'] = prop;
                    if (prop == "kow_wph") { post_data.ph = kowPH; }
                }

                // 3. Determine whether data should be inserted into pchem table:
                if (isPchemWorkflow(workflow_url)) {
                    addDataToTable = true; // always add data to table in pchem workflow..
                }
                else {
                    if (currentNode != null && node.id == currentNode.id) {
                        addDataToTable = true; 
                    }
                    else { addDataToTable = false; }
                }

                // 4. Add spinner to calc-prop table cell:
                if (addDataToTable) { $(tblCell).html(spinner_html); }

                // 5. Make data calls, determine if additional methods required:
                if (calc == "chemaxon") {
                    if (prop == "kow_wph" || prop == "kow_no_ph") {
                        for (var method in jchem_methods) {
                            post_data['method'] = jchem_methods[method];
                            makeTheCall(post_data, node, addDataToTable);
                        }
                        delete post_data['method']; // lazy fix for methods showing in non-method props
                    }
                    else { makeTheCall(post_data, node, addDataToTable); }
                }
                else if (calc != "sparc") { makeTheCall(post_data, node, addDataToTable); }
            }
            // Make sparc call after all props are gathered into list:
            if (calc == "sparc") { makeTheCall(post_data, node, addDataToTable); }
        }
    }

}


function makeTheCall(calcPropData, node, addDataToTable) {
    calls_tracker++;
    console.log("calls tracker: " + calls_tracker);
    $.ajax({ 
        url: "/cts/portal",
        type: "POST",
        dataType: "json",
        data: calcPropData,
        timeout: 10000,
        success: function(data) {

            // implement call tracker stuff here?
            calls_tracker--;
            console.log("calls tracker: " + calls_tracker);
            if (node) { $("#" + node.id).children('img').addClass("hasPchemProps"); } // highlight node

            if (data['calc'] == "sparc") { 
                parseSPARCResponseToPchemTable(data, node, addDataToTable);
            }
            else { 
                parseResponseToPchemTable(data, node, false, addDataToTable);
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
            var error = {
                "error": textStatus,
                "calc": calcPropData['calc'],
                "prop": calcPropData['prop']
            };
            if (error['calc'] == "sparc") { 
                parseSPARCResponseToPchemTable(error, node, addDataToTable);
            }
            else { 
                parseResponseToPchemTable(error, node, false, addDataToTable);
            }
        }
    });
}


function parseTESTResultsToTable(test_results) {
    console.log("looping TEST results..");
    for (result in test_results) {
        if (test_results.hasOwnProperty(result)) {
            console.log(test_results[result]);
            parseResponseToPchemTable(test_results[result], null, false, null);
        }
    }
}


// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// SPARC is different. It's getting all props back at once so it
// needs to parse the data to the p-chem table differently
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
function parseSPARCResponseToPchemTable(data, node, addDataToTable) {
    var calc = data['calc']; // sparc
    var props = data['props']; // get sparc props list
    var sparc_results = data['data']['calculationResults'];
    console.log("parsing sparc data...");
    for (prop in props) {
        if (props.hasOwnProperty(prop)) {
            getPropFromSPARCResults(data, node, props[prop], sparc_results, addDataToTable);
        }
    }
}
function getPropFromSPARCResults(data, node, prop, sparc_results, addDataToTable) {
    var responseObj = {"calc": "sparc"}; // initial obj for parsing to table
    var sparcProp = sparcPropMap[prop]; // get sparc's name for prop
    for (index in sparc_results) {
        if (sparc_results.hasOwnProperty(index)) {
            var propObj = sparc_results[index]; // property object
            if (propObj['type'] == sparcProp) {
                responseObj['prop'] = prop;
                responseObj['data'] = propObj['result']; // prop result value
                parseResponseToPchemTable(responseObj, node, false, true, addDataToTable);
            }
        }
    }
}


function parseResponseToPchemTable(response, node, hasData, addDataToTable) {
    // Map response to pchemprop output table:

    var calc = response['calc'];
    var prop = response['prop'];
    var workflowUrl = window.location.href;
    var table_cell = $('.' + calc + '.' + prop); // table cell for calc's prop..
    var data;

    // TODO: improve error handling to mitigate error checking like below..
    if (response.hasOwnProperty('error')) { 
        $(table_cell).html(response['error']);
        return;
    }

    else if (!('data' in response)) {
        $(table_cell.html("error processing data"));
        return;
    }

    if (calc == "test") {
        data = response['data']['val'];
    }
    else if (calc == "epi") {
        if (hasData) {
            data = response['data']; // data already parsed from epi to node..
        }
        else {
            // data = response['data']['val']; // the old way..
            // the new way:
            if (Object.keys(response['data']['properties']).length > 0) {
                var data_key = Object.keys(response['data']['properties'])[0];
                data = response['data']['properties'][data_key];
            }
            else {
                data = "calc error";
            }
        }    
    }
    else { data = response['data']; }

    // Add pchemprop data to node if gentrans workflow:
    if (!isPchemWorkflow(workflowUrl)) {
        if (!node.data.hasOwnProperty('pchemprops')) {
            node.data.pchemprops = []; // keys: calc, prop, data (single-level)..
        }
        var post_data = {"calc": calc, "prop": prop, "data": data};
        if (response.hasOwnProperty('method')) { 
            post_data['method'] = response['method'];
        }
        if (hasData == false) {
            node.data.pchemprops.push(post_data);
        }
    }

    if (response.hasOwnProperty('method')) {
        var method = response['method'];
        var has_spinner = $(table_cell).children('img#spinner').length;
        if (has_spinner > 0) { $(table_cell).html(""); }
        if (addDataToTable) {
            $(table_cell).append(organizeData(calc, prop, data) + " (" + method + ")<br>"); // append method to cell..
        }
    }
    else { 
        if (addDataToTable) { $(table_cell).html(organizeData(calc, prop, data)); }
    }

}


function organizeData(calc, prop, data) {
    // organizes data, namely if it's
    // more than a single value

    if (typeof data === "number") {
        if (prop == "water_sol" || prop == "vapor_press" || prop == "mol_diss" || prop == "henrys_law_con") {
            return data.toExponential(3);
        }
        else {
            return data.toFixed(3);
        }
    }

    if (typeof data === "string" || data == null) {
        return data;
    }

    // For multiple pKa values in a cell..
    var parsedData = "";
    for (item in data) {
        if (data.hasOwnProperty(item) && data[item] != null) {
            var itemVals = data[item];
            if (itemVals.length == 0) {
                parsedData += '<div class="pka-wrapper">' + item + ': none</div>';
            }
            else {
                for (var i = 0; i < itemVals.length; i++) {
                    var label = item + String(i).sub() +  ': ';
                    parsedData += '<div class="pka-wrapper">' + label + itemVals[i].toFixed(3) + '</div>';
                }
            }
        }
    }
    return parsedData;
}

</script>